// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notes-container {
  display: flex;
  background-color: white;
  height: 100vh;
}
