// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  height: 100vh;
}

.notes-header-and-index {
  width: 350px;
  border-left: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.notes-index-container {
  overflow: -moz-scrollbars-vertical;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

.notes-index-item-container {
  height: 120px;
  margin: 20px 25px;
  width: 350px;
}

.note-detail-container {
  width: 100%;
}

.note-detail-header {
  width: 100%;
  display: flex;
  position: relative;
}

.notes-index-item {
  height: 100%;
  width: 82%;
  border-bottom: 1px solid #ECECEC;
}

.notes-body {
}

.notes-header-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13.5px;
  padding-bottom: 9px;
  border-bottom: 1px solid #ECECEC;
}

.notes-header {
  font-size: 21px;
  letter-spacing: 1px;
  margin: 27px 24px;
}

.note-count {
  color: #ABABAB;
  margin-left: 25px;
}

.note-options {
  margin-right: 25px;
  cursor: pointer;
}

.note-options::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 6px;
  margin-top: 3px;
  margin-left: 2px;
  vertical-align: top;
  background: url('http://res.cloudinary.com/malice/image/upload/v1500438313/caret_gray_10x6_iz0o7w.png') center;
  background-size: 10px 6px;
}

.note-detail-reminder {
  margin-left: 18px;
}

.note-detail-reminder, .note-detail-info, .note-detail-delete, .note-detail-more {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-top: 14px;
  margin-right: 15px;
}

.note-detail-reminder {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500410337/reminder-gray_sbvggm.png') no-repeat center center;
}

.note-detail-info {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500410337/info-small_idnucv.png') no-repeat center center;
}

.note-detail-delete {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500410338/trashcan-gray_omn62d.png') no-repeat center center;
}

.note-detail-more {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500410337/optiondots-gray_bhhxhk.png') no-repeat center center;
}

.expand {
  border: 1px solid #2DBE60;
  border-radius: 5px;
  background: url('http://res.cloudinary.com/malice/image/upload/v1500410337/expand_etyagy.png') no-repeat center center;
  background-size: 16px;
  width: 28px;
  height: 26px;
  position: absolute;
  margin-top: 12px;
  right: 16px;
  cursor: pointer;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm5vdGVzLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7Ozs7O0VBS0UscUJBQWM7RUFBZCxxQkFBYztFQUFkLGNBQWM7RUFDZCx3QkFBd0I7RUFDeEIsY0FBYztDQUNmOztBQUVEO0VBQ0UsYUFBYTtFQUNiLCtCQUErQjtFQUMvQixnQ0FBZ0M7Q0FDakM7O0FBRUQ7RUFDRSxjQUFjO0VBQ2Qsa0JBQWtCO0NBQ25COztBQUVEO0VBQ0UsYUFBYTtFQUNiLCtCQUErQjtDQUNoQzs7QUFFRDtDQUNDOztBQUVEO0VBQ0UsWUFBWTtFQUNaLHFCQUFjO0VBQWQscUJBQWM7RUFBZCxjQUFjO0VBQ2Qsb0JBQWdCO01BQWhCLGdCQUFnQjtFQUNoQiwwQkFBK0I7TUFBL0IsdUJBQStCO1VBQS9CLCtCQUErQjtFQUMvQiwwQkFBb0I7TUFBcEIsdUJBQW9CO1VBQXBCLG9CQUFvQjtFQUNwQixnQkFBZ0I7RUFDaEIscUJBQXFCO0VBQ3JCLGlDQUFpQztDQUNsQzs7QUFFRDtFQUNFLGdCQUFnQjtFQUNoQiwyQkFBMkI7RUFDM0Isb0JBQW9CO0VBQ3BCLGtCQUFrQjtDQUNuQjs7QUFFRDtFQUNFLGVBQWU7RUFDZixrQkFBa0I7Q0FDbkI7O0FBRUQ7RUFDRSxtQkFBbUI7RUFDbkIsZ0JBQWdCO0NBQ2pCOztBQUVEO0VBQ0UsWUFBWTtFQUNaLHNCQUFzQjtFQUN0QixZQUFZO0VBQ1osWUFBWTtFQUNaLGdCQUFnQjtFQUNoQixpQkFBaUI7RUFDakIsb0JBQW9CO0VBQ3BCLCtHQUErRztFQUkvRywwQkFBMEI7Q0FDM0IiLCJmaWxlIjoibm90ZXMuc2NzcyIsInNvdXJjZXNDb250ZW50IjpbIi8vIFBsYWNlIGFsbCB0aGUgc3R5bGVzIHJlbGF0ZWQgdG8gdGhlIE5vdGVzIGNvbnRyb2xsZXIgaGVyZS5cbi8vIFRoZXkgd2lsbCBhdXRvbWF0aWNhbGx5IGJlIGluY2x1ZGVkIGluIGFwcGxpY2F0aW9uLmNzcy5cbi8vIFlvdSBjYW4gdXNlIFNhc3MgKFNDU1MpIGhlcmU6IGh0dHA6Ly9zYXNzLWxhbmcuY29tL1xuXG4ubm90ZXMtY29udGFpbmVyIHtcbiAgZGlzcGxheTogZmxleDtcbiAgYmFja2dyb3VuZC1jb2xvcjogd2hpdGU7XG4gIGhlaWdodDogMTAwdmg7XG59XG5cbi5ub3Rlcy1oZWFkZXItYW5kLWluZGV4IHtcbiAgd2lkdGg6IDM1MHB4O1xuICBib3JkZXItbGVmdDogMXB4IHNvbGlkICNFQ0VDRUM7XG4gIGJvcmRlci1yaWdodDogMXB4IHNvbGlkICNFQ0VDRUM7XG59XG5cbi5ub3Rlcy1pbmRleC1pdGVtLWNvbnRhaW5lciB7XG4gIGhlaWdodDogMTIwcHg7XG4gIG1hcmdpbjogMjBweCAyNXB4O1xufVxuXG4ubm90ZXMtaW5kZXgtaXRlbSB7XG4gIGhlaWdodDogMTAwJTtcbiAgYm9yZGVyLWJvdHRvbTogMXB4IHNvbGlkIGJsYWNrO1xufVxuXG4ubm90ZXMtYm9keSB7XG59XG5cbi5ub3Rlcy1oZWFkZXItaW5mbyB7XG4gIHdpZHRoOiAxMDAlO1xuICBkaXNwbGF5OiBmbGV4O1xuICBmbGV4LXdyYXA6IHdyYXA7XG4gIGp1c3RpZnktY29udGVudDogc3BhY2UtYmV0d2VlbjtcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgZm9udC1zaXplOiAxM3B4O1xuICBwYWRkaW5nLWJvdHRvbTogMTBweDtcbiAgYm9yZGVyLWJvdHRvbTogMXB4IHNvbGlkICNFQ0VDRUM7XG59XG5cbi5ub3Rlcy1oZWFkZXIge1xuICBmb250LXNpemU6IDIycHg7XG4gIGZvbnQtZmFtaWx5OiAnR290aGFtIEJvb2snO1xuICBsZXR0ZXItc3BhY2luZzogMXB4O1xuICBtYXJnaW46IDI3cHggMjNweDtcbn1cblxuLm5vdGUtY291bnQge1xuICBjb2xvcjogI0FCQUJBQjtcbiAgbWFyZ2luLWxlZnQ6IDI1cHg7XG59XG5cbi5ub3RlLW9wdGlvbnMge1xuICBtYXJnaW4tcmlnaHQ6IDI1cHg7XG4gIGN1cnNvcjogcG9pbnRlcjtcbn1cblxuLm5vdGUtb3B0aW9uczo6YWZ0ZXIge1xuICBjb250ZW50OiAnJztcbiAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICB3aWR0aDogMTBweDtcbiAgaGVpZ2h0OiA2cHg7XG4gIG1hcmdpbi10b3A6IDRweDtcbiAgbWFyZ2luLWxlZnQ6IDJweDtcbiAgdmVydGljYWwtYWxpZ246IHRvcDtcbiAgYmFja2dyb3VuZDogdXJsKCdodHRwOi8vcmVzLmNsb3VkaW5hcnkuY29tL21hbGljZS9pbWFnZS91cGxvYWQvdjE1MDA0MzgzMTMvY2FyZXRfZ3JheV8xMHg2X2l6MG83dy5wbmcnKSBjZW50ZXI7XG4gIC13ZWJraXQtYmFja2dyb3VuZC1zaXplOiAxMHB4IDZweDtcbiAgLW1vei1iYWNrZ3JvdW5kLXNpemU6IDEwcHggNnB4O1xuICAtby1iYWNrZ3JvdW5kLXNpemU6IDEwcHggNnB4O1xuICBiYWNrZ3JvdW5kLXNpemU6IDEwcHggNnB4O1xufVxuIl19 */
