// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden {
  visibility: hidden;
}

.notes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  height: 100vh;
  width: 100%;
  position: relative;
}

.notes-sidebar-header-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: 'absolute';
}

.notes-header-and-index {
  border-right: 1px solid #ECECEC;
  height: 100%;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.notes-index-container {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  height: 100%;
  width: 333px;
  box-sizing: border-box;
  padding: 0 2px;
}

.panel {
  display: flex;
  height: 100vh;
  left: -422px;
  position: absolute;
  transition: left .3s ease-in-out;
}

.panel.open {
  left: 0;
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  transition: left .3s ease-in-out;
}

.content.open {
    left: 422px;
}

.note-detail-container {
  width: 100%;
}

.note-detail-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.notes-header-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13.5px;
  padding-bottom: 9px;
  border-bottom: 1px solid #ECECEC;
}

.notes-header {
  font-size: 21px;
  letter-spacing: 1px;
  margin: 27px 24px;
}

.note-count {
  color: #ABABAB;
  margin-left: 25px;
}

.note-options {
  margin-right: 25px;
  cursor: pointer;
}

.note-options::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 6px;
  margin-top: 3px;
  margin-left: 2px;
  vertical-align: top;
  background: url('http://res.cloudinary.com/malice/image/upload/v1500438313/caret_gray_10x6_iz0o7w.png') center;
  background-size: 10px 6px;
}

.notes-index-item {
  margin: 0;
  padding: 17px 24px;
  height: auto;
  position: relative;
}

.notes-index-container div:first-of-type article {
  margin-top: 2px;
}

.selected-index-item {
  outline: 2px solid #D9D9D9;
  box-sizing: border-box;
}

.bottom-border {
  border-bottom: 1px solid #ECECEC;
  width: 86%;
  margin: 0 auto;
}

.notes-index-item:hover, .notes-index-item:hover h3 {
  background-color: #40bc6c;
  cursor: pointer;
  color: white;
  outline: 2px solid #40bc6c;
}

.notes-index-title {
  font-family: 'Caecilia';
  font-size: 1.3em;
  color: #4A4A4A;
}

.notes-index-updated {
  text-transform: uppercase;
  margin: 6px 0;
  letter-spacing: 1px;
}

.notes-index-body {
  margin: 0;
  font-size: 13px;
  line-height: 17px;
  overflow: hidden;
  height: 50px;
}

.index-item-reminder, .index-item-delete {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
}

.index-item-reminder, .index-item-reminder:hover {
  right: 45px;
  top: 9.5px;
}

.index-item-delete, .index-item-delete:hover {
  right: 10px;
  top: 9px;
}

.index-item-reminder {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500610662/reminder-white_m6g4ff.png') no-repeat center center;
}

.index-item-reminder:hover {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500610662/reminder-white-hover_unu0wv.png') no-repeat center center;
}

.index-item-delete {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500610662/delete-white_fgwrtv.png') no-repeat center center;
}

.index-item-delete:hover {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500610662/delete-white-hover_qcz34v.png') no-repeat center center;
}

.note-detail-reminder {
  margin-left: 18px;
}

.note-detail-reminder, .note-detail-info, .note-detail-delete, .note-detail-more, .note-detail-reminder:hover, .note-detail-info:hover, .note-detail-delete:hover, .note-detail-more:hover {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-top: 14px;
  margin-right: 15px;
}

.note-detail-reminder {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500410337/reminder-gray_sbvggm.png') no-repeat center center;
}

.note-detail-reminder:hover {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500610662/reminder-green_gcjobx.png') no-repeat center center;
}

.note-detail-info {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500410337/info-small_idnucv.png') no-repeat center center;
}

.note-detail-info:hover {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500610662/info-green_n5e1ng.png') no-repeat center center;
}

.note-detail-delete {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500410338/trashcan-gray_omn62d.png') no-repeat center center;
}

.note-detail-delete:hover {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500610662/delete-green_fqh4vy.png') no-repeat center center;
}

.note-detail-more {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500410337/optiondots-gray_bhhxhk.png') no-repeat center center;
}

.note-detail-more:hover {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500610662/options-green_iiucze.png') no-repeat center center;
}

.expand, .expand:hover {
  width: 35px;
  height: 35px;
  position: absolute;
  margin-top: 9px;
  right: 13px;
  cursor: pointer;
}

.expand {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500674963/expand_cf3ejc.png') no-repeat center center;
  background-size: 40px;
}

.expand:hover {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500674963/expand-hover_mtvfug.png') no-repeat center center;
  background-size: 34px;
}

.note-container {
  width: 94%;
  margin: 0 auto;
  position: relative;
}

.note-container input {
  position: absolute;
  top: 60px;
  left: 15px;
  color: #2DBE60;
  font-family: 'Caecilia Light';
  font-size: 28px;
  z-index: 1;
  width: 98%;
}

.note-container input:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm5vdGVzLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7Ozs7O0VBS0UsVUFBQTtFQUFBLGFBQUE7RUFBQSxpQkFBYztFQUNkLG9CQUFBO0NBR0Q7O0FBRUQ7RUFEQSxhQUFBO0VBQ0UsbUJBQWE7RUFDYixpQ0FBK0I7Q0FHaEM7O0FBRUQ7RUFEQSwwQkFBQTtDQUdDOztBQUVEO0VBQ0UscUJBQXFCO0VBRHZCLHFCQUFBO0VBQ0UsY0FBYTtFQUNiLHdCQUFBO0VBQ0QsY0FBQTtDQUdBOztBQUVEO0VBQ0UscUJBQWM7RUFBZCxxQkFBYztFQUFkLGNBQWM7RUFEaEIscUJBQUE7Q0FHQzs7QUFFRDtFQUhFLCtCQUFjO0VBQ2QsZ0NBQWdCO0VBS2hCLGFBTEE7RUFDQSxxQkFBQTtFQUFBLHFCQUFBO0VBQUEsY0FBQTtFQU1BLDZCQU5BO0VBTUEsOEJBTkE7TUFNQSwyQkFOQTtVQU1BLHVCQU5BO0NBT0Q7O0FBRUQ7RUFDRSxtQ0FUb0I7RUFDcEIsbUJBQWdCO0VBQ2hCLG1CQUFBO0VBQ0EsYUFBQTtDQUNEOzs7QUFZRDtFQVJFLFlBQUE7Q0FVRDs7QUFFRDtFQUNFLFlBQVk7RUFSZCxxQkFBQTtFQUFBLHFCQUFBO0VBQUEsY0FBQTtFQUNFLG1CQUFlO0NBVWhCOztBQUVEO0VBUkEsWUFBQTtFQUNFLHFCQUFtQjtFQUNuQixxQkFBZ0I7RUFDakIsY0FBQTtFQVVDLG9CQUFvQjtNQVJ0QixnQkFBQTtFQUNFLDBCQUFZO01BQ1osdUJBQXNCO1VBQ3RCLCtCQUFZO0VBQ1osMEJBQVk7TUFDWix1QkFBZ0I7VUFDaEIsb0JBQWlCO0VBQ2pCLGtCQUFBO0VBQ0Esb0JBQUE7RUFJQSxpQ0FBMEI7Q0FDM0I7O0FBUUQ7RUFDRSxnQkFBZ0I7RUFDaEIsb0JBQW9CO0VBQ3BCLGtCQUFrQjtDQUNuQjs7QUFFRDtFQUNFLGVBQWU7RUFDZixrQkFBa0I7Q0FDbkI7O0FBRUQ7RUFDRSxtQkFBbUI7RUFDbkIsZ0JBQWdCO0NBQ2pCOztBQUVEO0VBQ0UsWUFBWTtFQUNaLHNCQUFzQjtFQUN0QixZQUFZO0VBQ1osWUFBWTtFQUNaLGdCQUFnQjtFQUNoQixpQkFBaUI7RUFDakIsb0JBQW9CO0VBQ3BCLCtHQUErRztFQUMvRywwQkFBMEI7Q0FDM0I7O0FBRUQ7RUFDRSxrQkFBa0I7Q0FDbkI7O0FBRUQ7RUFDRSxZQUFZO0VBQ1osYUFBYTtFQUNiLGdCQUFnQjtFQUNoQixpQkFBaUI7RUFDakIsbUJBQW1CO0NBQ3BCOztBQUVEO0VBQ0UsOEhBQThIO0NBQy9IOztBQUVEO0VBQ0UsMkhBQTJIO0NBQzVIOztBQUVEO0VBQ0UsOEhBQThIO0NBQy9IOztBQUVEO0VBQ0UsZ0lBQWdJO0NBQ2pJOztBQUVEO0VBQ0UsMEJBQTBCO0VBQzFCLG1CQUFtQjtFQUNuQix1SEFBdUg7RUFDdkgsc0JBQXNCO0VBQ3RCLFlBQVk7RUFDWixhQUFhO0VBQ2IsbUJBQW1CO0VBQ25CLGlCQUFpQjtFQUNqQixZQUFZO0VBQ1osZ0JBQWdCO0NBQ2pCIiwiZmlsZSI6Im5vdGVzLnNjc3MiLCJzb3VyY2VzQ29udGVudCI6WyIvLyBQbGFjZSBhbGwgdGhlIHN0eWxlcyByZWxhdGVkIHRvIHRoZSBOb3RlcyBjb250cm9sbGVyIGhlcmUuXG4vLyBUaGV5IHdpbGwgYXV0b21hdGljYWxseSBiZSBpbmNsdWRlZCBpbiBhcHBsaWNhdGlvbi5jc3MuXG4vLyBZb3UgY2FuIHVzZSBTYXNzIChTQ1NTKSBoZXJlOiBodHRwOi8vc2Fzcy1sYW5nLmNvbS9cblxuLm5vdGVzLWNvbnRhaW5lciB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGJhY2tncm91bmQtY29sb3I6IHdoaXRlO1xuICBoZWlnaHQ6IDEwMHZoO1xufVxuXG4ubm90ZXMtaGVhZGVyLWFuZC1pbmRleCB7XG4gIHdpZHRoOiAzNTBweDtcbiAgYm9yZGVyLWxlZnQ6IDFweCBzb2xpZCAjRUNFQ0VDO1xuICBib3JkZXItcmlnaHQ6IDFweCBzb2xpZCAjRUNFQ0VDO1xufVxuXG4ubm90ZXMtaW5kZXgtaXRlbS1jb250YWluZXIge1xuICBoZWlnaHQ6IDEyMHB4O1xuICBtYXJnaW46IDIwcHggMjVweDtcbn1cblxuLm5vdGVzLWluZGV4LWl0ZW0ge1xuICBoZWlnaHQ6IDEwMCU7XG4gIGJvcmRlci1ib3R0b206IDFweCBzb2xpZCBibGFjaztcbn1cblxuLm5vdGVzLWJvZHkge1xufVxuXG4ubm90ZXMtaGVhZGVyLWluZm8ge1xuICB3aWR0aDogMTAwJTtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC13cmFwOiB3cmFwO1xuICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gIGZvbnQtc2l6ZTogMTNweDtcbiAgcGFkZGluZy1ib3R0b206IDEwcHg7XG4gIGJvcmRlci1ib3R0b206IDFweCBzb2xpZCAjRUNFQ0VDO1xufVxuXG4ubm90ZXMtaGVhZGVyIHtcbiAgZm9udC1zaXplOiAyMnB4O1xuICBmb250LWZhbWlseTogJ0dvdGhhbSBCb29rJztcbiAgbGV0dGVyLXNwYWNpbmc6IDFweDtcbiAgbWFyZ2luOiAyN3B4IDIzcHg7XG59XG5cbi5ub3RlLWNvdW50IHtcbiAgY29sb3I6ICNBQkFCQUI7XG4gIG1hcmdpbi1sZWZ0OiAyNXB4O1xufVxuXG4ubm90ZS1vcHRpb25zIHtcbiAgbWFyZ2luLXJpZ2h0OiAyNXB4O1xuICBjdXJzb3I6IHBvaW50ZXI7XG59XG5cbi5ub3RlLW9wdGlvbnM6OmFmdGVyIHtcbiAgY29udGVudDogJyc7XG4gIGRpc3BsYXk6IGlubGluZS1ibG9jaztcbiAgd2lkdGg6IDEwcHg7XG4gIGhlaWdodDogNnB4O1xuICBtYXJnaW4tdG9wOiA0cHg7XG4gIG1hcmdpbi1sZWZ0OiAycHg7XG4gIHZlcnRpY2FsLWFsaWduOiB0b3A7XG4gIGJhY2tncm91bmQ6IHVybCgnaHR0cDovL3Jlcy5jbG91ZGluYXJ5LmNvbS9tYWxpY2UvaW1hZ2UvdXBsb2FkL3YxNTAwNDM4MzEzL2NhcmV0X2dyYXlfMTB4Nl9pejBvN3cucG5nJykgY2VudGVyO1xuICAtd2Via2l0LWJhY2tncm91bmQtc2l6ZTogMTBweCA2cHg7XG4gIC1tb3otYmFja2dyb3VuZC1zaXplOiAxMHB4IDZweDtcbiAgLW8tYmFja2dyb3VuZC1zaXplOiAxMHB4IDZweDtcbiAgYmFja2dyb3VuZC1zaXplOiAxMHB4IDZweDtcbn1cbiJdfQ== */
