.notebooksPanel {
  position: absolute;
  left: -1000px;
  right: 0;
  width: 456px;
  height: 100%;
  background-color: white;
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
  z-index: 3;
  padding-left: 73px;
  border-right: 2px solid #F1F1F1;
  overflow: auto;
}

.notebooksPanel.open {
  left: 0;
}

.notes-header-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13.5px;
  padding-bottom: 9px;
  border-bottom: 1px solid #ECECEC;
}

.notebook-header {
  font-size: 19px;
  font-family: 'Caecilia Light';
  color: white;
  background-color: #393D41;
  padding: 35px 0 45px 0;
  text-align: center;
  margin-bottom: 15px;
}

.notebooks-header {
  font-size: 22px;
  letter-spacing: 1px;
  padding: 22px 26px 80px 26px;
  border-bottom: 1px solid #ECECEC;
  position: relative;
}

.add-notebook-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 21px;
  cursor: pointer;
}

.new-notebook-container {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.notebook-icon img {
  width: 40px;
  height: 36px;
  margin-top: 100px;
}

.new-notebook-header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #878787;
  padding: 29px 10px 15px 10px;
  border-bottom: 1px solid #D9D9D9;
  letter-spacing: .5px;
}

.new-notebook-input {
  font-size: 32px;
  font-family: 'Caecilia Light';
  margin-top: 60px;
  margin-bottom: 80px;
  text-align: center;
}

.new-notebook-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #C4C4C4;
}
.new-notebook-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #C4C4C4;
   opacity:  1;
}
.new-notebook-input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #C4C4C4;
   opacity:  1;
}
.new-notebook-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #C4C4C4;
}
.new-notebook-input::-ms-input-placeholder { /* Microsoft Edge */
   color: #C4C4C4;
}

.new-notebook-create, .new-notebook-cancel {
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  width: 174px;
  padding: 8px 0;
}

.new-notebook-cancel {
  background-color: #ECECEC;
  color: #606060;
  margin-right: 10px;
  border: 1px solid #D9D9D9;
}

.new-notebook-create {
  background-color: #2DBE60;
  color: white;
  border: 1px solid #2DBE60;
}

.new-notebook-create:disabled {
  opacity: .5;
  cursor: default;
}

.notebook-index-item-container:hover {
  background-color: #40bc6c;
  cursor: pointer;
}

.notebook-index-item-container:hover .notebook-index-item {
  border-bottom: 1px solid #40bc6c;
}

.notebook-index-item-container {
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.notebook-index-item-container:hover, .notebook-index-item-container:hover h3, .notebook-index-item-container:hover h4 {
  border: none;
  color: white;
}

.notebook-index-item {
  margin: 0 26px;
  padding: 10px 0;
  height: 100%;
  border-bottom: 1px solid #ECECEC;
}

.notebook-index-item h3 {
  font-size: 16px;
  font-family: 'Caecilia';
  color: #4A4A4A;
}

.notebook-index-item h4 {
  margin-top: 9px;
  font-weight: bold;
  color: #878787;
}

.notebook-delete {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
}

.notebook-delete, .notebook-delete:hover {
  right: 10px;
  top: 9px;
}

.notebook-delete {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500610662/delete-white_fgwrtv.png') no-repeat center center;
}

.notebook-delete:hover {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500610662/delete-white-hover_qcz34v.png') no-repeat center center;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm5vdGVib29rcy5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsbUJBQW1CO0VBQ25CLGNBQWM7RUFDZCxTQUFTO0VBQ1QsYUFBYTtFQUNiLGFBQWE7RUFDYix3QkFBd0I7RUFDeEIseUNBQWlDO0VBQWpDLGlDQUFpQztFQUNqQyxXQUFXO0VBQ1gsbUJBQW1CO0VBQ25CLGdDQUFnQztDQUNqQzs7QUFFRDtFQUNFLFFBQVE7Q0FDVDs7QUFFRDtFQUNFLGdCQUFnQjtFQUNoQixvQkFBb0I7RUFDcEIsNkJBQTZCO0VBQzdCLGlDQUFpQztFQUNqQyxtQkFBbUI7Q0FDcEI7O0FBRUQ7RUFDRSxZQUFZO0VBQ1osYUFBYTtFQUNiLG1CQUFtQjtFQUNuQixZQUFZO0VBQ1osVUFBVTtFQUNWLGdCQUFnQjtDQUNqQjs7QUFFRDtFQUNFLDBCQUEwQjtFQUMxQixnQkFBZ0I7Q0FDakI7O0FBRUQ7RUFDRSxhQUFhO0VBQ2IsK0JBQXVCO1VBQXZCLHVCQUF1QjtDQUN4Qjs7QUFFRDtFQUNFLGFBQWE7RUFDYixhQUFhO0NBQ2Q7O0FBRUQ7RUFDRSxlQUFlO0VBQ2YsZ0JBQWdCO0VBQ2hCLGFBQWE7RUFDYixpQ0FBaUM7Q0FDbEM7O0FBRUQ7RUFDRSxnQkFBZ0I7RUFDaEIsd0JBQXdCO0VBQ3hCLGVBQWU7Q0FDaEI7O0FBRUQ7RUFDRSxnQkFBZ0I7RUFDaEIsNkJBQTZCO0VBQzdCLGVBQWU7Q0FDaEIiLCJmaWxlIjoibm90ZWJvb2tzLnNjc3MiLCJzb3VyY2VzQ29udGVudCI6WyIubm90ZWJvb2tzUGFuZWwge1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIGxlZnQ6IC0xMDAwcHg7XG4gIHJpZ2h0OiAwO1xuICB3aWR0aDogNDU2cHg7XG4gIGhlaWdodDogMTAwJTtcbiAgYmFja2dyb3VuZC1jb2xvcjogd2hpdGU7XG4gIHRyYW5zaXRpb246IGxlZnQgLjNzIGVhc2UtaW4tb3V0O1xuICB6LWluZGV4OiAyO1xuICBwYWRkaW5nLWxlZnQ6IDczcHg7XG4gIGJvcmRlci1yaWdodDogMnB4IHNvbGlkICNGMUYxRjE7XG59XG5cbi5ub3RlYm9va3NQYW5lbC5vcGVuIHtcbiAgbGVmdDogMDtcbn1cblxuLm5vdGVib29rcy1oZWFkZXIge1xuICBmb250LXNpemU6IDIycHg7XG4gIGxldHRlci1zcGFjaW5nOiAxcHg7XG4gIHBhZGRpbmc6IDIycHggMjZweCA4MHB4IDI2cHg7XG4gIGJvcmRlci1ib3R0b206IDFweCBzb2xpZCAjRUNFQ0VDO1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG59XG5cbi5hZGQtbm90ZWJvb2staWNvbiB7XG4gIHdpZHRoOiAyNHB4O1xuICBoZWlnaHQ6IDI0cHg7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgcmlnaHQ6IDI0cHg7XG4gIHRvcDogMjFweDtcbiAgY3Vyc29yOiBwb2ludGVyO1xufVxuXG4ubm90ZWJvb2staW5kZXgtaXRlbS1jb250YWluZXI6aG92ZXIge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjNDBiYzZjO1xuICBjdXJzb3I6IHBvaW50ZXI7XG59XG5cbi5ub3RlYm9vay1pbmRleC1pdGVtLWNvbnRhaW5lciB7XG4gIGhlaWdodDogNjBweDtcbiAgYm94LXNpemluZzogYm9yZGVyLWJveDtcbn1cblxuLm5vdGVib29rLWluZGV4LWl0ZW06aG92ZXIsIC5ub3RlYm9vay1pbmRleC1pdGVtOmhvdmVyIGgzLCAubm90ZWJvb2staW5kZXgtaXRlbTpob3ZlciBoNCB7XG4gIGJvcmRlcjogbm9uZTtcbiAgY29sb3I6IHdoaXRlO1xufVxuXG4ubm90ZWJvb2staW5kZXgtaXRlbSB7XG4gIG1hcmdpbjogMCAyNnB4O1xuICBwYWRkaW5nOiAxMHB4IDA7XG4gIGhlaWdodDogMTAwJTtcbiAgYm9yZGVyLWJvdHRvbTogMXB4IHNvbGlkICNFQ0VDRUM7XG59XG5cbi5ub3RlYm9vay1pbmRleC1pdGVtIGgzIHtcbiAgZm9udC1zaXplOiAxNnB4O1xuICBmb250LWZhbWlseTogJ0NhZWNpbGlhJztcbiAgY29sb3I6ICM0QTRBNEE7XG59XG5cbi5ub3RlYm9vay1pbmRleC1pdGVtIGg0IHtcbiAgbWFyZ2luLXRvcDogOXB4O1xuICBmb250LWZhbWlseTogJ0dvdGhhbSBNZWRpdW0nO1xuICBjb2xvcjogIzg3ODc4Nztcbn1cbiJdfQ== */
