// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hidden {
  visibility: hidden;
}

.overlay {
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: absolute;
  background-color: white;
  opacity: .9;
  // -webkit-animation: fade-in .3s ease-in-out;
  // -moz-animation:    fade-in .3s ease-in-out;
  // -o-animation:      fade-in .3s ease-in-out;
  // animation:         fade-in .3s ease-in-out;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.overlay.hidden {
  opacity: 0;
}

@-webkit-keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: .9; }
}

@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: .9; }
}

.notes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  height: 100vh;
  width: 100%;
  position: relative;
}

.notes-sidebar-header-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: 'absolute';
}

.notes-header-and-index {
  border-right: 1px solid #ECECEC;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.notes-index-container {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  height: 100%;
  width: 347px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 2px;
}

.panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  left: -422px;
  position: absolute;
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
}

.panel.open {
  left: 0;
}

.content {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
  overflow: auto;
}

.content.open {
    left: 422px;
}

.note-detail-container {
  width: 100%;
  position: relative;
}

.note-detail-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.notes-header-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13.5px;
  padding-bottom: 9px;
  border-bottom: 1px solid #ECECEC;
}

.notes-header {
  font-size: 21px;
  letter-spacing: 1px;
  margin: 27px 24px;
}

.note-count {
  color: #ABABAB;
  margin-left: 25px;
}

.notes-index-item {
  margin: 0;
  padding: 13.5px 24px;
  height: auto;
  position: relative;
}

.notes-index-container div:first-of-type article {
  margin-top: 2px;
}

.selected-index-item {
  outline: 2px solid #D9D9D9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.bottom-border {
  border-bottom: 1px solid #ECECEC;
  width: 86%;
  margin: 0 auto;
}

.notes-index-item:hover, .notes-index-item:hover h3 {
  background-color: #40bc6c;
  cursor: pointer;
  color: white;
  outline: 2px solid #40bc6c;
}

.notes-index-title {
  font-family: 'Caecilia';
  font-size: 1.3em;
  color: #4A4A4A;
  padding-top: 3px;
}

.notes-index-updated {
  text-transform: uppercase;
  margin: 6px 0;
  letter-spacing: 1px;
}

.notes-index-body {
  margin: 0;
  font-size: 13px;
  line-height: 17px;
  overflow: hidden;
  height: 50px;
}

.index-item-delete {
  width: 24px;
  height: 24px;
  cursor: pointer;
  position: absolute;
}

.index-item-delete, .index-item-delete:hover {
  right: 10px;
  top: 9px;
}

.index-item-delete {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500610662/delete-white_fgwrtv.png') no-repeat center center;
}

.index-item-delete:hover {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500610662/delete-white-hover_qcz34v.png') no-repeat center center;
}

.note-detail-info, .note-detail-delete {
  margin-left: 18px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-top: 14px;
}

.note-detail-info {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500410337/info-small_idnucv.png') no-repeat center center;
}

.note-detail-info:hover {
  background: url('http://res.cloudinary.com/malice/image/upload/v1501249455/reminder-green_skqgt7.png') no-repeat center center;
}

.note-detail-delete {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410338/trashcan-gray_omn62d.png') no-repeat center center;
}

.note-detail-delete:hover {
  background: url('http://res.cloudinary.com/malice/image/upload/v1501249453/delete-big-green_b0dqxl.png') no-repeat center center;
}

.expand, .expand:hover {
  width: 35px;
  height: 35px;
  position: absolute;
  margin-top: 9px;
  right: 13px;
  cursor: pointer;
}

.expand {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500674963/expand_cf3ejc.png') no-repeat center center;
  background-size: 40px;
}

.expand:hover {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500674963/expand-hover_mtvfug.png') no-repeat center center;
  background-size: 34px;
}

.note-select-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.new-note-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cancel, .add-note {
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  padding: 6px 15px;
  position: absolute;
  right: 0;
  top: -30px;
  right: -10px;
}

.cancel {
  background-color: #ECECEC;
  color: #606060;
  border: 1px solid #D9D9D9;
}

.add-note {
  margin-right: 90px;
  background-color: #2DBE60;
  color: white;
  border: 1px solid #2DBE60;
}

.add-note:hover {
  background-color: #28A956;
}

.add-note:disabled {
  opacity: .5;
  cursor: default;
}

.cancel:hover {
  background-color: #D9D9D9;
}

.note-container {
  width: 94%;
  margin: 20px auto 30px auto;
  position: relative;
}

.new-note-container {
  width: 94%;
  margin: 58px auto 0 auto;
  position: relative;
}

.note-title, .new-note-title {
  position: absolute;
  top: 100px;
  left: 15px;
  color: #2DBE60;
  font-family: 'Caecilia Light';
  font-size: 28px;
  z-index: 1;
  width: 98%;
}

.note-title::-webkit-input-placeholder, .new-note-title::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #2DBE60;
}
.note-title:-moz-placeholder, .new-note-title:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #2DBE60;
   opacity:  1;
}
.note-title::-moz-placeholder, .new-note-title::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #2DBE60;
   opacity:  1;
}
.note-title:-ms-input-placeholder, .new-note-title:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #2DBE60;
}
.note-title::-ms-input-placeholder, .new-note-title::-ms-input-placeholder { /* Microsoft Edge */
   color: #2DBE60;
}

.note-modal-title {
  font-family: 'Caecilia Light';
  font-size: 28px;
  letter-spacing: .6px;
  margin: 20px;
  color: #383838;
}

.note-overview-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
}

.note-overview-item li {
  margin-top: 20px;
  color: #4A4A4A;
}

.note-overview-item li:first-of-type {
  color: #878787;
  letter-spacing: 1px;
  font-weight: normal;
  margin-right: 5px;
}

.note-close-button {
  margin-top: 80px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIm5vdGVzLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7Ozs7O0VBS0UsbUJBQUE7Q0FDRDs7QUFFRDtFQUNDLGFBQUE7RUFDQyxjQUFBO0VBQ0YsV0FBQTtFQURBLG1CQUFBO0VBQ0Usd0JBQUE7RUFDQSxZQUFBO0VBR0QsOENBQUE7RUFDQSw4Q0FBQTtFQUNDLDhDQUE4QztFQUNoRCw4Q0FBQTtFQUNDLGdDQUFBO0VBQUEsd0JBQUE7Q0FDQTs7QUFFRDtFQUNDLFdBQUE7Q0FDQTs7QUFFRDtFQUNDLEtBQUEsV0FBQSxFQUFBO0VBQ0MsT0FBQSxZQUFBLEVBQUE7Q0FDRDs7QUFIRDtFQUNDLEtBQUEsV0FBQSxFQUFBO0VBQ0MsT0FBQSxZQUFBLEVBQUE7Q0FDRDs7QUFFRDtFQURFLHFCQUFBO0VBQUEscUJBQUE7RUFERixjQUFBO0VBTUUsd0JBSEQ7RUFJQyxjQURRO0VBRFYsWUFBQTtFQUlFLG1CQUFtQjtDQUFyQjs7QUFHQTtFQVJFLHFCQUFBO0VBQUEscUJBQUE7RUFNQSxjQUFBO0VBTUEscUJBTkE7Q0FPRDs7QUFFRDtFQURBLGdDQUFBO0VBQ0UsYUFBQTtFQUFBLCtCQUFjO1VBQWQsdUJBQWM7RUFOaEIscUJBQUE7RUFDRSxxQkFBQTtFQVJBLGNBQUE7RUFDQSw2QkFBQTtFQUFBLDhCQUFBO01BaUJELDJCQUFBO1VBTVMsdUJBQXVCO0NBSmpDOztBQU9BO0VBQ0UsbUNBQW1DO0VBSnJDLG1CQUFBO0VBQ0UsYUFBQTtFQU5GLGFBQUE7RUFDRSwrQkFBQTtVQVJGLHVCQUFBO0VBQUEsZUFBQTtDQXVCQzs7QUFFRDtFQUxBLHFCQUFBO0VBT0UscUJBTmM7RUFSaEIsY0FBQTtFQWdCRSxjQUFjO0VBTGhCLGFBQUE7RUFqQkUsbUJBQUE7RUFtQkQseUNBQUE7RUFPQyxpQ0FBaUM7Q0FMbkM7O0FBUUE7RUFMRSxRQUFBO0NBT0Q7O0FBRUQ7RUFDRSxtQkFBbUI7RUFMckIsUUFBQTtFQWRFLFNBQUE7RUFDRCxhQUFBO0VBZ0JDLHlDQUFxQjtFQVJ2QixpQ0FBQTtFQUNFLGVBQUE7Q0FnQkQ7O0FBRUQ7SUFDSSxZQU5NO0NBT1Q7O0FBRUQ7RUFkQyxZQUFBO0VBVUMsbUJBQUE7Q0FPRDs7QUFFRDtFQUxBLFlBQUE7RUFDRSxxQkFBZ0I7RUFSbEIscUJBQUE7RUFDRSxjQUFBO0VBVUQsbUJBQUE7Q0FPQTs7QUFFRDtFQWRFLFlBQUE7RUFVRCxxQkFBQTtFQU9DLHFCQUFxQjtFQUx2QixjQUFBO0VBUkMsb0JBQUE7TUFVQyxnQkFBZ0I7RUFSbEIsMEJBQUE7TUFnQk0sdUJBQXVCO1VBTDdCLCtCQUFBO0VBQ0UsMEJBQVk7TUFSZCx1QkFBQTtVQUNFLG9CQUFZO0VBQ1osa0JBQUE7RUFDQSxvQkFBZ0I7RUFDaEIsaUNBQWlCO0NBZ0JsQjs7QUFFRDtFQWRBLGdCQUFBO0VBZ0JFLG9CQUFvQjtFQUx0QixrQkFBQTtDQU9DOztBQUVEO0VBZEMsZUFBQTtFQVVBLGtCQUFBO0NBT0E7O0FBRUQ7RUFMQyxVQUFBO0VBT0MscUJBQXFCO0VBTHZCLGFBQUE7RUFSQyxtQkFBQTtDQWdCQTs7QUFFRDtFQUNFLGdCQUFnQjtDQU5sQjs7QUFTQTtFQWZFLDJCQUFZO0VBVWIsK0JBQUE7VUFRUyx1QkFBdUI7Q0FOakM7O0FBU0E7RUFmQyxpQ0FBQTtFQVVDLFdBQUE7RUFDRCxlQUFBO0NBUUE7O0FBRUQ7RUFORSwwQkFBaUI7RUFDakIsZ0JBQWU7RUFDaEIsYUFBQTtFQVFDLDJCQUEyQjtDQU43Qjs7QUFTQTtFQU5FLHdCQUFvQjtFQUNyQixpQkFBQTtFQVFDLGVBQWU7RUFOakIsaUJBQUE7Q0FRQzs7QUFFRDtFQU5FLDBCQUFpQjtFQUNqQixjQUFhO0VBQ2Qsb0JBQUE7Q0FRQTs7QUFFRDtFQU5FLFVBQUE7RUFDQSxnQkFBZ0I7RUFDaEIsa0JBQUE7RUFDRCxpQkFBQTtFQVFDLGFBQWE7Q0FOZjs7QUFTQTtFQU5DLFlBQUE7RUFRQyxhQUFhO0VBTmYsZ0JBQUE7RUFDRSxtQkFBWTtDQVFiOztBQUVEO0VBTkEsWUFBQTtFQUNFLFNBQUE7Q0FDRDs7QUFFRDtFQUNFLDhIQUFBO0NBQ0Q7O0FBRUQ7RUFDRSxvSUFBNkg7Q0FDOUg7O0FBRUQ7RUFDRSxrQkFBQTtFQUNELFlBQUE7RUFRQyxhQUFhO0VBTmYsZ0JBQUE7RUFDRSxpQkFBQTtDQUNEOztBQUVEO0VBQ0UsMkhBQVk7Q0FRYjs7QUFFRDtFQU5FLCtIQUFtQjtDQUNwQjs7QUFFRDtFQUNFLCtIQUE4SDtDQUMvSDs7QUFFRDtFQUNFLGlJQUErSDtDQUNoSTs7QUFFRDtFQUNFLFlBQUE7RUFDRCxhQUFBO0VBUUMsbUJBQW1CO0VBTnJCLGdCQUFBO0VBQ0UsWUFBQTtFQUNELGdCQUFBO0NBUUE7O0FBRUQ7RUFOQyx3SEFBQTtFQVFDLHNCQUFzQjtDQU54Qjs7QUFTQTtFQUNFLDhIQUE4SDtFQU5oSSxzQkFBQTtDQVFDOztBQUVEO0VBTkEscUJBQUE7RUFBQSxxQkFBQTtFQUFBLGNBQUE7RUFDRSx3QkFBQTtNQUFBLHFCQUFBO1VBQUEsNEJBQUE7RUFDRCwwQkFBQTtNQUFBLHVCQUFBO1VBQUEsb0JBQUE7RUFRQyxtQkFBbUI7Q0FOckI7O0FBU0E7RUFORSxxQkFBQTtFQUFBLHFCQUFBO0VBQUEsY0FBQTtFQUNBLG1CQUFnQjtFQUNoQixzQkFBWTtNQUFaLG1CQUFZO1VBQVosMEJBQVk7RUFDWiwwQkFBZ0I7TUFBaEIsdUJBQWdCO1VBQWhCLG9CQUFnQjtDQUNqQjs7QUFFRDtFQUNFLGtCQUFBO0VBQ0EsZ0JBQUE7RUFDRCxtQkFBQTtFQVFDLGtCQUFrQjtFQU5wQixtQkFBQTtFQUNFLFNBQUE7RUFDQSxXQUFBO0VBQ0QsYUFBQTtDQVFBOztBQUVEO0VBTkUsMEJBQWU7RUFDZixlQUFBO0VBQ0QsMEJBQUE7Q0FRQTs7QUFFRDtFQU5FLG1CQUFVO0VBQ1YsMEJBQVc7RUFDWCxhQUFBO0VBQ0EsMEJBQUE7Q0FRRDs7QUFFRDtFQU5DLDBCQUFBO0NBUUE7O0FBRUQ7RUFORSxZQUFBO0VBQ0EsZ0JBQUE7Q0FRRDs7QUFFRDtFQUNFLDBCQUEwQjtDQUMzQjs7QUFFRDtFQUNFLFdBQVc7RUFDWCx5QkFBeUI7RUFDekIsbUJBQW1CO0NBQ3BCOztBQUVEO0VBQ0UsV0FBVztFQUNYLHlCQUF5QjtFQUN6QixtQkFBbUI7Q0FDcEI7O0FBRUQ7RUFDRSxtQkFBbUI7RUFDbkIsV0FBVztFQUNYLFdBQVc7RUFDWCxlQUFlO0VBQ2YsOEJBQThCO0VBQzlCLGdCQUFnQjtFQUNoQixXQUFXO0VBQ1gsV0FBVztDQUNaOztBQUVELHFGQUFxRix5QkFBeUI7SUFDMUcsZUFBZTtDQUNsQjtBQUNELGlFQUFpRSw2QkFBNkI7R0FDM0YsZUFBZTtHQUNmLFlBQVk7Q0FDZDtBQUNELG1FQUFtRSx5QkFBeUI7R0FDekYsZUFBZTtHQUNmLFlBQVk7Q0FDZDtBQUNELDJFQUEyRSw2QkFBNkI7R0FDckcsZUFBZTtDQUNqQjtBQUNELDZFQUE2RSxvQkFBb0I7R0FDOUYsZUFBZTtDQUNqQjs7QUFFRDtFQUNFLDhCQUE4QjtFQUM5QixnQkFBZ0I7RUFDaEIscUJBQXFCO0VBQ3JCLGFBQWE7RUFDYixlQUFlO0NBQ2hCOztBQUVEO0VBQ0UscUJBQWM7RUFBZCxxQkFBYztFQUFkLGNBQWM7RUFDZCx3QkFBNEI7TUFBNUIscUJBQTRCO1VBQTVCLDRCQUE0QjtFQUM1QiwwQkFBb0I7TUFBcEIsdUJBQW9CO1VBQXBCLG9CQUFvQjtFQUNwQixrQkFBa0I7Q0FDbkI7O0FBRUQ7RUFDRSxpQkFBaUI7RUFDakIsZUFBZTtDQUNoQjs7QUFFRDtFQUNFLGVBQWU7RUFDZixvQkFBb0I7RUFDcEIsb0JBQW9CO0VBQ3BCLGtCQUFrQjtDQUNuQjs7QUFFRDtFQUNFLGlCQUFpQjtDQUNsQiIsImZpbGUiOiJub3Rlcy5zY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLy8gUGxhY2UgYWxsIHRoZSBzdHlsZXMgcmVsYXRlZCB0byB0aGUgTm90ZXMgY29udHJvbGxlciBoZXJlLlxuLy8gVGhleSB3aWxsIGF1dG9tYXRpY2FsbHkgYmUgaW5jbHVkZWQgaW4gYXBwbGljYXRpb24uY3NzLlxuLy8gWW91IGNhbiB1c2UgU2FzcyAoU0NTUykgaGVyZTogaHR0cDovL3Nhc3MtbGFuZy5jb20vXG5cbi5ub3Rlcy1jb250YWluZXIge1xuICBkaXNwbGF5OiBmbGV4O1xuICBiYWNrZ3JvdW5kLWNvbG9yOiB3aGl0ZTtcbiAgaGVpZ2h0OiAxMDB2aDtcbn1cblxuLm5vdGVzLWhlYWRlci1hbmQtaW5kZXgge1xuICB3aWR0aDogMzUwcHg7XG4gIGJvcmRlci1sZWZ0OiAxcHggc29saWQgI0VDRUNFQztcbiAgYm9yZGVyLXJpZ2h0OiAxcHggc29saWQgI0VDRUNFQztcbn1cblxuLm5vdGVzLWluZGV4LWl0ZW0tY29udGFpbmVyIHtcbiAgaGVpZ2h0OiAxMjBweDtcbiAgbWFyZ2luOiAyMHB4IDI1cHg7XG59XG5cbi5ub3Rlcy1pbmRleC1pdGVtIHtcbiAgaGVpZ2h0OiAxMDAlO1xuICBib3JkZXItYm90dG9tOiAxcHggc29saWQgYmxhY2s7XG59XG5cbi5ub3Rlcy1ib2R5IHtcbn1cblxuLm5vdGVzLWhlYWRlci1pbmZvIHtcbiAgd2lkdGg6IDEwMCU7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGZsZXgtd3JhcDogd3JhcDtcbiAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xuICBhbGlnbi1pdGVtczogY2VudGVyO1xuICBmb250LXNpemU6IDEzcHg7XG4gIHBhZGRpbmctYm90dG9tOiAxMHB4O1xuICBib3JkZXItYm90dG9tOiAxcHggc29saWQgI0VDRUNFQztcbn1cblxuLm5vdGVzLWhlYWRlciB7XG4gIGZvbnQtc2l6ZTogMjJweDtcbiAgZm9udC1mYW1pbHk6ICdHb3RoYW0gQm9vayc7XG4gIGxldHRlci1zcGFjaW5nOiAxcHg7XG4gIG1hcmdpbjogMjdweCAyM3B4O1xufVxuXG4ubm90ZS1jb3VudCB7XG4gIGNvbG9yOiAjQUJBQkFCO1xuICBtYXJnaW4tbGVmdDogMjVweDtcbn1cblxuLm5vdGUtb3B0aW9ucyB7XG4gIG1hcmdpbi1yaWdodDogMjVweDtcbiAgY3Vyc29yOiBwb2ludGVyO1xufVxuXG4ubm90ZS1vcHRpb25zOjphZnRlciB7XG4gIGNvbnRlbnQ6ICcnO1xuICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gIHdpZHRoOiAxMHB4O1xuICBoZWlnaHQ6IDZweDtcbiAgbWFyZ2luLXRvcDogNHB4O1xuICBtYXJnaW4tbGVmdDogMnB4O1xuICB2ZXJ0aWNhbC1hbGlnbjogdG9wO1xuICBiYWNrZ3JvdW5kOiB1cmwoJ2h0dHA6Ly9yZXMuY2xvdWRpbmFyeS5jb20vbWFsaWNlL2ltYWdlL3VwbG9hZC92MTUwMDQzODMxMy9jYXJldF9ncmF5XzEweDZfaXowbzd3LnBuZycpIGNlbnRlcjtcbiAgLXdlYmtpdC1iYWNrZ3JvdW5kLXNpemU6IDEwcHggNnB4O1xuICAtbW96LWJhY2tncm91bmQtc2l6ZTogMTBweCA2cHg7XG4gIC1vLWJhY2tncm91bmQtc2l6ZTogMTBweCA2cHg7XG4gIGJhY2tncm91bmQtc2l6ZTogMTBweCA2cHg7XG59XG4iXX0= */
