// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// html {
//   background: url(http://res.cloudinary.com/malice/image/upload/v1500393891/jonatan-pie-234237_mcy0qa.jpg) no-repeat center center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }

body {
  background-color: #F6F6F6;
}

.session-page {
  width: 100%;
  border-top: 4px solid #2DBE60;
}

.session-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 15px 15px 10px 15px;
  background-color: #F6F6F6;
  margin-top: 60px;
}

header img {
  width: 100px;
  margin-bottom: 30px;
}

.header-name {
  font-size: 36px;
  color: #2DBE60;
  font-family: 'Caecilia';
}

.session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 3px;
  width: 15%;
  margin: 0 auto;
  padding: 40px;
}

.session-form, .session-form form input {
  border: 1.5px solid #DEDEDE;
}

.session-form form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.session-form form input {
  padding: 15px;
  margin: 10px;
  width: 90%;
  font-family: 'Gotham Book';
  font-size: 16px;
  border-radius: 7px;
}

.session-form button {
  font-family: 'Gotham Medium';
  width: 100%;
  font-size: 16px;
  border-radius: 7px;
  margin: 10px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #9B9B9B;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #9B9B9B;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #9B9B9B;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #9B9B9B;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #9B9B9B;
}

input:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  box-shadow: 0 0 0 1px #2DBE60;
  border-radius: 7px;
}

*:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.session-form button {
  background-color: #2DBE60;
  color: white;
  padding: 20px 0;
}

.session-links {
  text-align: center;
  margin: 30px;
}

.already-have-account {
  font-family: 'Gotham Medium';
}

.session-title {
  font-family: 'Caecilia';
  color: #6A6A6A;
  font-size: 28px;
}

.session-link {
  font-size: 16px;
}

.errors {
  color: red;
}
