// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.session-page {
  width: 100%;
}

.session-page-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 15px 10px 15px;
  background-color: #F6F6F6;
}

header img {
  margin-right: 7px;
  width: 30px;
}

.header-name {
  font-size: 20px;
  color: #2DBE60;
  font-family: 'Caecilia Bold';
}

// $green = #2DBE60;

.session_page form {
  margin: 0 auto;
}
