.session-page {
  width: 100%;
  border-top: 4px solid #2DBE60;
}

.session-page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px 15px 10px 15px;
  background-color: #F6F6F6;
  margin-top: 60px;
}

header img {
  width: 80px;
  margin-bottom: 30px;
}

.header-name {
  font-size: 28px;
  color: #2DBE60;
  font-family: 'Caecilia';
}

.session-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-radius: 3px;
  width: 15%;
  margin: 0 auto;
  padding: 40px;
}

.session-form, .session-form form input {
  border: 1.5px solid #DEDEDE;
}

.session-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.session-form form input, .session-form button {
  padding: 15px;
  margin: 10px 0;
  width: 100%;
  font-size: 14px;
  border-radius: 7px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.session-form form input {
  font-family: 'Gotham Book';
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #9B9B9B;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #9B9B9B;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #9B9B9B;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #9B9B9B;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #9B9B9B;
}

.session-form input:focus {
  -webkit-box-shadow: 0 0 0 1px #2DBE60;
          box-shadow: 0 0 0 1px #2DBE60;
  border-radius: 7px;
}

.session-form button {
  background-color: #2DBE60;
  color: white;
  padding: 20px 0;
  font-family: 'Gotham Medium';
}

.session-form button:hover {
  background-color: #28A956;
}

.session-links {
  text-align: center;
  padding: 30px;
  height: 100%;
}

.already-have-account {
  font-family: 'Gotham Medium';
}

.session-title {
  font-family: 'Caecilia';
  color: #6A6A6A;
  font-size: 24px;
}

.session-link {
  font-size: 16px;
}

.session-link:hover {
  color: #28A956;
}

.errors {
  color: red;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInNlc3Npb25zLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDRSxZQUFBO0VBQ0QsOEJBQUE7Q0FDQTs7QUFFRDtFQUNFLHFCQUFBO0VBQ0QscUJBQUE7RUFDQyxjQUFjO0VBQ2hCLHlCQUFBO01BQ0Usc0JBQWM7VUFBZCx3QkFBYztFQUFkLDBCQUFjO01BQ2QsdUJBQXdCO1VBQXhCLG9CQUF3QjtFQUl4QixvQkFKQTtNQUNBLGdCQUFBO0VBS0EsNkJBTG9CO0VBTXBCLDhCQU5vQjtNQUNwQiwyQkFBZ0I7VUFBaEIsdUJBQWdCO0VBQ2hCLDZCQUF1QjtFQUF2QiwwQkFBQTtFQVNBLGlCQVRBO0NBVUQ7O0FBRUQ7RUFURSxhQUFBO0VBQ0Qsb0JBQUE7Q0FXQTs7QUFFRDtFQVRFLGdCQUFBO0VBQ0QsZUFBQTtFQVdDLHdCQUF3QjtDQVQxQjs7QUFZQTtFQVRFLHFCQUFBO0VBQ0QscUJBQUE7RUFXQyxjQUFjO0VBVGhCLDZCQUFBO0VBQ0UsOEJBQWM7TUFBZCwyQkFBYztVQUFkLHVCQUFjO0VBQ2QsMEJBQUE7TUFBQSx1QkFBQTtVQUFBLG9CQUFBO0VBZUEseUJBZkE7TUFDQSxzQkFBb0I7VUFBcEIsd0JBQW9CO0VBaUJwQix3QkFqQkE7RUFDQSxtQkFBQTtFQWtCQSxXQWxCQTtFQW1CQSxlQW5CQTtFQUNBLGNBQUE7Q0FvQkQ7O0FBRUQ7RUFsQkUsNEJBQWM7Q0FDZjs7QUFFRDtFQUNFLHFCQUFBO0VBQ0QscUJBQUE7RUFvQkMsY0FBYztFQWxCaEIsMEJBQUE7TUFDRSx1QkFBYztVQUFkLG9CQUFjO0VBQWQseUJBQWM7TUFDZCxzQkFBb0I7VUFBcEIsd0JBQW9CO0VBdUJwQiw2QkF2Qm9CO0VBQ3BCLDhCQUF3QjtNQUF4QiwyQkFBd0I7VUFBeEIsdUJBQUE7RUFDQSxZQUFBO0NBMEJEOztBQUVEO0VBM0JFLGNBQVk7RUFDYixlQUFBO0VBNkJDLFlBQVk7RUEzQmQsMkJBQUE7RUFDRSxnQkFBYztFQUNkLG1CQUFlO0VBQ2YsdUJBQUE7RUE2QkEsK0JBNUIyQjtVQTZCNUIsdUJBQUE7Q0FDQTs7QUFFRCw4QkFBQSx5QkFBQTtJQTVCQyxlQUFBO0NBOEJBO0FBQ0Qsb0JBQW9CLDZCQUE2QjtHQUNqRCxlQUFBO0dBQ0csWUE3QkY7Q0E4QkQ7QUFDQSxxQkE3QkEseUJBQUE7R0E4QkcsZUE3QkM7R0FDSCxZQUFBO0NBQ0Q7QUE4QkEseUJBN0JrQiw2QkFBQTtHQUNmLGVBQVk7Q0E4QmQ7QUFDRCwwQkE3QkEsb0JBQUE7R0E4QkEsZUFBQTtDQUNDOztBQUVEO0VBQ0UseUJBQUQ7RUFDQSxzQkFBQTtFQUNDLGlCQUFpQjtFQUNuQixjQUFBO0VBNUJDLHNDQUFBO1VBOEJDLDhCQUFpQjtFQTVCbkIsbUJBQUE7Q0E4QkM7O0FBRUQ7RUFDQyx5QkFBQTtFQUNBLHNCQUFBO0VBQ0MsaUJBQWlCO0VBQ25CLGNBQUE7Q0FDQzs7QUFFRDtFQUNDLDBCQUFBO0VBQ0EsYUFBQTtFQUNDLGdCQUFnQjtFQUNsQiw2QkFBQTtDQUNDOztBQUVEO0VBQ0EsMEJBQUE7Q0FDQzs7QUFFRDtFQUNBLG1CQUFBO0VBQ0MsY0FBQTtFQUNDLGFBQWE7Q0FDZjs7QUFFQTtFQUNFLDZCQUE2QjtDQUMvQjs7QUFFQTtFQUNBLHdCQUFBO0VBQ0MsZUFBQTtFQUNDLGdCQUFnQjtDQUNsQjs7QUFFQTtFQUNFLGdCQUFnQjtDQUNsQjs7QUFFQTtFQUNFLGVBQWU7Q0FDaEI7O0FBRUQ7RUFDRSxXQUFXO0NBQ1oiLCJmaWxlIjoic2Vzc2lvbnMuc2NzcyIsInNvdXJjZXNDb250ZW50IjpbImJvZHkge1xuICBiYWNrZ3JvdW5kLWNvbG9yOiAjRjZGNkY2O1xufVxuXG4uc2Vzc2lvbi1wYWdlIHtcbiAgd2lkdGg6IDEwMCU7XG4gIGJvcmRlci10b3A6IDRweCBzb2xpZCAjMkRCRTYwO1xufVxuXG4uc2Vzc2lvbi1wYWdlLWhlYWRlciB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGp1c3RpZnktY29udGVudDogY2VudGVyO1xuICBhbGlnbi1pdGVtczogY2VudGVyO1xuICBmbGV4LXdyYXA6IHdyYXA7XG4gIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gIHBhZGRpbmc6IDE1cHggMTVweCAxMHB4IDE1cHg7XG4gIGJhY2tncm91bmQtY29sb3I6ICNGNkY2RjY7XG4gIG1hcmdpbi10b3A6IDYwcHg7XG59XG5cbmhlYWRlciBpbWcge1xuICB3aWR0aDogMTAwcHg7XG4gIG1hcmdpbi1ib3R0b206IDMwcHg7XG59XG5cbi5oZWFkZXItbmFtZSB7XG4gIGZvbnQtc2l6ZTogMzZweDtcbiAgY29sb3I6ICMyREJFNjA7XG4gIGZvbnQtZmFtaWx5OiAnQ2FlY2lsaWEnO1xufVxuXG4uc2Vzc2lvbi1mb3JtIHtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gIGJhY2tncm91bmQtY29sb3I6IHdoaXRlO1xuICBib3JkZXItcmFkaXVzOiAzcHg7XG4gIHdpZHRoOiAyMCU7XG4gIG1hcmdpbjogMCBhdXRvO1xuICBwYWRkaW5nOiA0MHB4O1xufVxuXG4uc2Vzc2lvbi1mb3JtLCAuc2Vzc2lvbi1mb3JtIGZvcm0gaW5wdXQge1xuICBib3JkZXI6IDEuNXB4IHNvbGlkICNERURFREU7XG59XG5cbi5zZXNzaW9uLWZvcm0gZm9ybSB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gIGp1c3RpZnktY29udGVudDogY2VudGVyO1xuICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xuICB3aWR0aDogMTAwJTtcbn1cblxuLnNlc3Npb24tZm9ybSBmb3JtIGlucHV0LCAuc2Vzc2lvbi1mb3JtIGJ1dHRvbiB7XG4gIHBhZGRpbmc6IDE1cHg7XG4gIG1hcmdpbjogMTBweCAwO1xuICB3aWR0aDogMTAwJTtcbiAgZm9udC1mYW1pbHk6ICdHb3RoYW0gQm9vayc7XG4gIGZvbnQtc2l6ZTogMTZweDtcbiAgYm9yZGVyLXJhZGl1czogN3B4O1xuICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xufVxuXG4uc2Vzc2lvbi1mb3JtIGJ1dHRvbiB7XG4gIGZvbnQtZmFtaWx5OiAnR290aGFtIE1lZGl1bSc7XG59XG5cbjo6LXdlYmtpdC1pbnB1dC1wbGFjZWhvbGRlciB7IC8qIFdlYktpdCwgQmxpbmssIEVkZ2UgKi9cbiAgICBjb2xvcjogIzlCOUI5Qjtcbn1cbjotbW96LXBsYWNlaG9sZGVyIHsgLyogTW96aWxsYSBGaXJlZm94IDQgdG8gMTggKi9cbiAgIGNvbG9yOiAjOUI5QjlCO1xuICAgb3BhY2l0eTogIDE7XG59XG46Oi1tb3otcGxhY2Vob2xkZXIgeyAvKiBNb3ppbGxhIEZpcmVmb3ggMTkrICovXG4gICBjb2xvcjogIzlCOUI5QjtcbiAgIG9wYWNpdHk6ICAxO1xufVxuOi1tcy1pbnB1dC1wbGFjZWhvbGRlciB7IC8qIEludGVybmV0IEV4cGxvcmVyIDEwLTExICovXG4gICBjb2xvcjogIzlCOUI5Qjtcbn1cbjo6LW1zLWlucHV0LXBsYWNlaG9sZGVyIHsgLyogTWljcm9zb2Z0IEVkZ2UgKi9cbiAgIGNvbG9yOiAjOUI5QjlCO1xufVxuXG5pbnB1dDpmb2N1cyB7XG4gIC13ZWJraXQtYXBwZWFyYW5jZTogbm9uZTtcbiAgLW1vei1hcHBlYXJhbmNlOiBub25lO1xuICBhcHBlYXJhbmNlOiBub25lO1xuICBvdXRsaW5lOiBub25lO1xuICBib3gtc2hhZG93OiAwIDAgMCAxcHggIzJEQkU2MDtcbiAgYm9yZGVyLXJhZGl1czogN3B4O1xufVxuXG4uc2Vzc2lvbi1mb3JtIGJ1dHRvbiB7XG4gIGJhY2tncm91bmQtY29sb3I6ICMyREJFNjA7XG4gIGNvbG9yOiB3aGl0ZTtcbiAgcGFkZGluZzogMjBweCAwO1xufVxuXG4uc2Vzc2lvbi1saW5rcyB7XG4gIHRleHQtYWxpZ246IGNlbnRlcjtcbiAgbWFyZ2luOiAzMHB4O1xufVxuXG4uYWxyZWFkeS1oYXZlLWFjY291bnQge1xuICBmb250LWZhbWlseTogJ0dvdGhhbSBNZWRpdW0nO1xufVxuXG4uc2Vzc2lvbi10aXRsZSB7XG4gIGZvbnQtZmFtaWx5OiAnQ2FlY2lsaWEnO1xuICBjb2xvcjogIzZBNkE2QTtcbiAgZm9udC1zaXplOiAyOHB4O1xufVxuXG4uc2Vzc2lvbi1saW5rIHtcbiAgZm9udC1zaXplOiAxNnB4O1xufVxuXG4uZXJyb3JzIHtcbiAgY29sb3I6IHJlZDtcbn1cbiJdfQ== */
