.sidebar-container {
  width: 38px;
  height: 100vh;
  padding: 0px 17px;
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.user-box {
  border-top: 1px solid #E1E1E1;
  padding-top: 17px;
  width: 100%;
  position: absolute;
  bottom: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F6F6F6;
}

.logo-img {
  width: 36px;
  margin-top: 17px;
  margin-bottom: 40px;
}

.new-note, .search, .notes, .notebooks, .tags,
.new-note-selected, .search-selected, .notes-selected, .notebooks-selected, .tags-selected {
  margin-bottom: 13px;
}

.new-note, .search, .notes, .notebooks, .tags, .user-pic,
.new-note-selected, .search-selected, .notes-selected, .notebooks-selected, .tags-selected, .user-pic {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.new-note {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410337/plus_ljiox4.png') no-repeat center center;
}

.new-note-selected {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500602680/plus-selected_uji8gu.png') no-repeat center center;
}

.new-note-hover:hover {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410337/plus-hover_dtjetq.png') no-repeat center center;
  background-size: 36px;
}

.search {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410338/search_zqxngc.png') no-repeat center center;
}

.search-selected {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500410338/search-selected_ad9m1i.png') no-repeat center center;
}

.search-hover:hover {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410338/search-hover_a6zptx.png') no-repeat center center;
  background-size: 36px;
}

.notes {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410337/note_wyhtsu.png') no-repeat center center;
  margin-top: 140px;
}

.notes-selected {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500410337/note-selected_onycvm.png') no-repeat center center;
  margin-top: 140px;
}

.notes-hover:hover {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410337/note-hover_h3ozkl.png') no-repeat center center;
  margin-top: 140px;
  background-size: 36px;
}

.notebooks {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410337/notebook_dqo08r.png') no-repeat center center;
}

.notebooks-selected {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500410337/notebook-selected_wbhttq.png') no-repeat center center;
}

.notebooks-hover:hover {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410337/notebook-hover_q7teqo.png') no-repeat center center;
  background-size: 36px;
}

.tags {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410338/tag_bheb2i.png') no-repeat center center;
}

.tags-selected {
  background: url('http://res.cloudinary.com/malice/image/upload/v1500410338/tag-selected_misndw.png') no-repeat center center;
}

.tags-hover:hover {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410338/tag-hover_afcspp.png') no-repeat center center;
  background-size: 36px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInNpZGViYXIuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLFlBQVk7RUFDWixjQUFjO0VBQ2Qsa0JBQWtCO0VBQ2xCLDBCQUEwQjtFQUMxQixxQkFBYztFQUFkLHFCQUFjO0VBQWQsY0FBYztFQUNkLDZCQUF1QjtFQUF2Qiw4QkFBdUI7TUFBdkIsMkJBQXVCO1VBQXZCLHVCQUF1QjtFQUN2Qix3QkFBNEI7TUFBNUIscUJBQTRCO1VBQTVCLDRCQUE0QjtFQUM1QiwwQkFBb0I7TUFBcEIsdUJBQW9CO1VBQXBCLG9CQUFvQjtFQUNwQixtQkFBbUI7Q0FDcEI7O0FBRUQ7RUFDRSw4QkFBOEI7RUFDOUIsa0JBQWtCO0VBQ2xCLFlBQVk7RUFDWixtQkFBbUI7RUFDbkIsYUFBYTtFQUNiLHFCQUFjO0VBQWQscUJBQWM7RUFBZCxjQUFjO0VBQ2QsMEJBQW9CO01BQXBCLHVCQUFvQjtVQUFwQixvQkFBb0I7RUFDcEIseUJBQXdCO01BQXhCLHNCQUF3QjtVQUF4Qix3QkFBd0I7RUFDeEIsMEJBQTBCO0NBQzNCOztBQUVEO0VBQ0UsWUFBWTtFQUNaLGlCQUFpQjtFQUNqQixvQkFBb0I7Q0FDckI7O0FBRUQ7RUFDRSxvQkFBb0I7Q0FDckI7O0FBRUQ7RUFDRSxZQUFZO0VBQ1osYUFBYTtFQUNiLGdCQUFnQjtDQUNqQjs7QUFFRDtFQUNFLHNIQUFzSDtDQUN2SDs7O0FBa0JEO0VBZEUsNEhBQXNCO0VBQ3ZCLHNCQUFBO0NBZ0JBOzs7QUFHRDtFQUNFLHdIQUF3SDtDQWQxSDs7QUFpQkE7RUFkQyw4SEFBQTtFQWdCQyxzQkFBc0I7Q0FkeEI7O0FBaUJBO0VBZEMsc0hBQUE7RUFnQkMsaUJBQWlCO0NBZG5COztBQWlCQTtFQWRFLDRIQUFzQjtFQUN2QixpQkFBQTtFQWdCQyxzQkFBc0I7Q0FkeEI7O0FBaUJBO0VBQ0UsMEhBQTBIO0NBZDVIOztBQWlCQTtFQWRDLGdJQUFBO0VBZ0JDLHNCQUFzQjtDQWR4Qjs7QUFpQkE7RUFDRSxxSEFBcUg7Q0Fkdkg7O0FBaUJBO0VBZEMsMkhBQUE7RUFnQkMsc0JBQXNCO0NBQ3ZCIiwiZmlsZSI6InNpZGViYXIuc2NzcyIsInNvdXJjZXNDb250ZW50IjpbIi5zaWRlYmFyLWNvbnRhaW5lciB7XG4gIHdpZHRoOiAzOHB4O1xuICBoZWlnaHQ6IDEwMHZoO1xuICBwYWRkaW5nOiAwcHggMTdweDtcbiAgYmFja2dyb3VuZC1jb2xvcjogI0Y2RjZGNjtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAganVzdGlmeS1jb250ZW50OiBmbGV4LXN0YXJ0O1xuICBhbGlnbi1pdGVtczogY2VudGVyO1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG59XG5cbi51c2VyLWJveCB7XG4gIGJvcmRlci10b3A6IDFweCBzb2xpZCAjRTFFMUUxO1xuICBwYWRkaW5nLXRvcDogMTdweDtcbiAgd2lkdGg6IDEwMCU7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgYm90dG9tOiAxN3B4O1xuICBkaXNwbGF5OiBmbGV4O1xuICBhbGlnbi1pdGVtczogY2VudGVyO1xuICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcbiAgYmFja2dyb3VuZC1jb2xvcjogI0Y2RjZGNjtcbn1cblxuLmxvZ28taW1nIHtcbiAgd2lkdGg6IDM2cHg7XG4gIG1hcmdpbi10b3A6IDE3cHg7XG4gIG1hcmdpbi1ib3R0b206IDQwcHg7XG59XG5cbi5uZXctbm90ZSwgLnNlYXJjaCwgLm5vdGVzLCAubm90ZWJvb2tzLCAudGFncyB7XG4gIG1hcmdpbi1ib3R0b206IDEzcHg7XG59XG5cbi5uZXctbm90ZSwgLnNlYXJjaCwgLm5vdGVzLCAubm90ZWJvb2tzLCAudGFncywgLnVzZXItcGljIHtcbiAgd2lkdGg6IDM2cHg7XG4gIGhlaWdodDogMzZweDtcbiAgY3Vyc29yOiBwb2ludGVyO1xufVxuXG4ubmV3LW5vdGUge1xuICBiYWNrZ3JvdW5kOiB1cmwoJ2h0dHBzOi8vcmVzLmNsb3VkaW5hcnkuY29tL21hbGljZS9pbWFnZS91cGxvYWQvdjE1MDA0MTAzMzcvcGx1c19samlveDQucG5nJykgbm8tcmVwZWF0IGNlbnRlciBjZW50ZXI7XG59XG5cbi5uZXctbm90ZTpob3ZlciB7XG4gIGJhY2tncm91bmQ6IHVybCgnaHR0cHM6Ly9yZXMuY2xvdWRpbmFyeS5jb20vbWFsaWNlL2ltYWdlL3VwbG9hZC92MTUwMDQxMDMzNy9wbHVzLWhvdmVyX2R0amV0cS5wbmcnKSBuby1yZXBlYXQgY2VudGVyIGNlbnRlcjtcbiAgYmFja2dyb3VuZC1zaXplOiAzNnB4O1xufVxuXG4uc2VhcmNoIHtcbiAgYmFja2dyb3VuZDogdXJsKCdodHRwczovL3Jlcy5jbG91ZGluYXJ5LmNvbS9tYWxpY2UvaW1hZ2UvdXBsb2FkL3YxNTAwNDEwMzM4L3NlYXJjaF96cXhuZ2MucG5nJykgbm8tcmVwZWF0IGNlbnRlciBjZW50ZXI7XG59XG5cbi5zZWFyY2g6aG92ZXIge1xuICBiYWNrZ3JvdW5kOiB1cmwoJ2h0dHBzOi8vcmVzLmNsb3VkaW5hcnkuY29tL21hbGljZS9pbWFnZS91cGxvYWQvdjE1MDA0MTAzMzgvc2VhcmNoLWhvdmVyX2E2enB0eC5wbmcnKSBuby1yZXBlYXQgY2VudGVyIGNlbnRlcjtcbiAgYmFja2dyb3VuZC1zaXplOiAzNnB4O1xufVxuXG4ubm90ZXMge1xuICBiYWNrZ3JvdW5kOiB1cmwoJ2h0dHBzOi8vcmVzLmNsb3VkaW5hcnkuY29tL21hbGljZS9pbWFnZS91cGxvYWQvdjE1MDA0MTAzMzcvbm90ZV93eWh0c3UucG5nJykgbm8tcmVwZWF0IGNlbnRlciBjZW50ZXI7XG4gIG1hcmdpbi10b3A6IDkwcHg7XG59XG5cbi5ub3Rlczpob3ZlciB7XG4gIGJhY2tncm91bmQ6IHVybCgnaHR0cHM6Ly9yZXMuY2xvdWRpbmFyeS5jb20vbWFsaWNlL2ltYWdlL3VwbG9hZC92MTUwMDQxMDMzNy9ub3RlLWhvdmVyX2gzb3prbC5wbmcnKSBuby1yZXBlYXQgY2VudGVyIGNlbnRlcjtcbiAgbWFyZ2luLXRvcDogOTBweDtcbiAgYmFja2dyb3VuZC1zaXplOiAzNnB4O1xufVxuXG4ubm90ZWJvb2tzIHtcbiAgYmFja2dyb3VuZDogdXJsKCdodHRwczovL3Jlcy5jbG91ZGluYXJ5LmNvbS9tYWxpY2UvaW1hZ2UvdXBsb2FkL3YxNTAwNDEwMzM3L25vdGVib29rX2RxbzA4ci5wbmcnKSBuby1yZXBlYXQgY2VudGVyIGNlbnRlcjtcbn1cblxuLm5vdGVib29rczpob3ZlciB7XG4gIGJhY2tncm91bmQ6IHVybCgnaHR0cHM6Ly9yZXMuY2xvdWRpbmFyeS5jb20vbWFsaWNlL2ltYWdlL3VwbG9hZC92MTUwMDQxMDMzNy9ub3RlYm9vay1ob3Zlcl9xN3RlcW8ucG5nJykgbm8tcmVwZWF0IGNlbnRlciBjZW50ZXI7XG4gIGJhY2tncm91bmQtc2l6ZTogMzZweDtcbn1cblxuLnRhZ3Mge1xuICBiYWNrZ3JvdW5kOiB1cmwoJ2h0dHBzOi8vcmVzLmNsb3VkaW5hcnkuY29tL21hbGljZS9pbWFnZS91cGxvYWQvdjE1MDA0MTAzMzgvdGFnX2JoZWIyaS5wbmcnKSBuby1yZXBlYXQgY2VudGVyIGNlbnRlcjtcbn1cblxuLnRhZ3M6aG92ZXIge1xuICBiYWNrZ3JvdW5kOiB1cmwoJ2h0dHBzOi8vcmVzLmNsb3VkaW5hcnkuY29tL21hbGljZS9pbWFnZS91cGxvYWQvdjE1MDA0MTAzMzgvdGFnLWhvdmVyX2FmY3NwcC5wbmcnKSBuby1yZXBlYXQgY2VudGVyIGNlbnRlcjtcbiAgYmFja2dyb3VuZC1zaXplOiAzNnB4O1xufVxuIl19 */
