.sidebar-container {
  width: 74px;
  height: 100vh;
  background-color: #F6F6F6;
  position: relative;
  z-index: 3;
  border-right: 1px solid #ECECEC;
}

.user-box {
  border-top: 1px solid #E1E1E1;
  padding-top: 17px;
  width: 100%;
  position: absolute;
  bottom: 17px;
  background-color: #F6F6F6;
}

.user-pic {
  z-index: 2;
  margin: 0 auto;
}

.logo-img {
  width: 36px;
  margin-top: 17px;
  margin-bottom: 40px;
  margin: 17px auto 40px auto;
}

.new-note, .search, .notes, .notebooks, .tags,
.new-note-selected, .search-selected, .notes-selected, .notebooks-selected, .tags-selected {
  margin: 0 auto 13px auto;
}

.new-note, .search, .notes, .notebooks, .tags, .user-pic,
.new-note-selected, .search-selected, .notes-selected, .notebooks-selected, .tags-selected, .user-pic {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.new-note {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410337/plus_ljiox4.png') no-repeat center center;
}

.new-note-selected {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500602680/plus-selected_uji8gu.png') no-repeat center center;
}

.new-note-hover:hover {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410337/plus-hover_dtjetq.png') no-repeat center center;
  background-size: 36px;
}

.search {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410338/search_zqxngc.png') no-repeat center center;
}

.search-selected {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410338/search-selected_ad9m1i.png') no-repeat center center;
}

.search-hover:hover {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410338/search-hover_a6zptx.png') no-repeat center center;
  background-size: 36px;
}

.notes {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410337/note_wyhtsu.png') no-repeat center center;
  margin-top: 140px;
}

.notes-selected {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410337/note-selected_onycvm.png') no-repeat center center;
  margin-top: 140px;
}

.notes-hover:hover {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410337/note-hover_h3ozkl.png') no-repeat center center;
  margin-top: 140px;
  background-size: 36px;
}

.notebooks {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410337/notebook_dqo08r.png') no-repeat center center;
}

.notebooks-selected {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410337/notebook-selected_wbhttq.png') no-repeat center center;
}

.notebooks-hover:hover {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410337/notebook-hover_q7teqo.png') no-repeat center center;
  background-size: 36px;
}

.tags {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410338/tag_bheb2i.png') no-repeat center center;
}

.tags-selected {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410338/tag-selected_misndw.png') no-repeat center center;
}

.tags-hover:hover {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410338/tag-hover_afcspp.png') no-repeat center center;
  background-size: 36px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInNpZGViYXIuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLFlBQVk7RUFDWixjQUFjO0VBQ2QsMEJBQWtCO0VBQ2xCLG1CQUFBO0VBQ0EsV0FBQTtFQUFBLGdDQUFjO0NBRWY7O0FBRUQ7RUFDRSw4QkFKQTtFQUtBLGtCQUxBO0VBQ0EsWUFBQTtFQU1BLG1CQU5BO0VBT0EsYUFQQTtFQUNBLDBCQUFvQjtDQVFyQjs7QUFFRDtFQVJDLFdBQUE7RUFVQyxlQUFBO0NBUkY7O0FBV0E7RUFSRSxZQUFBO0VBQ0EsaUJBQUE7RUFDQSxvQkFBQTtFQUNBLDRCQUFBO0NBVUQ7O0FBRUQ7O0VBRUUseUJBQUE7Q0FDRDs7QUFFRDs7RUFFRSxZQWZEO0VBZ0JDLGFBQUE7RUFkRixnQkFBQTtDQWdCQzs7QUFFRDtFQWRDLHNIQUFBO0NBZ0JBOztBQUVEO0VBQ0EsK0hBQUE7Q0FDQzs7QUFFRDtFQUNFLDRIQUE0SDtFQUM5SCxzQkFBQTtDQUNDOztBQUVEO0VBZEUsd0hBQUE7Q0FDRDs7QUFpQkQ7RUFDQSxpSUFBQTtDQUNDOztBQUVEO0VBQ0UsOEhBQThIO0VBQy9ILHNCQUFBO0NBQ0E7O0FBRUQ7RUFDRSxzSEFBc0I7RUFDeEIsa0JBQUE7Q0FDQzs7QUFFRDtFQUNDLCtIQUFBO0VBQ0Msa0JBQWtCO0NBQ3BCOztBQUVBO0VBQ0UsNEhBQTRIO0VBQzlILGtCQUFBO0VBZEUsc0JBQUE7Q0FnQkQ7O0FBRUQ7RUFDQSwwSEFBQTtDQUNDOztBQUVEO0VBQ0UsbUlBQW1JO0NBQ3JJOztBQUVBO0VBZEEsZ0lBQUE7RUFnQkUsc0JBQXNCO0NBQ3hCOztBQUVBO0VBQ0UscUhBQXNCO0NBQ3hCOztBQUVBO0VBQ0MsOEhBQUE7Q0FDQTs7QUFFRDtFQUNFLDJIQUFBO0VBQ0Qsc0JBQUE7Q0FDQSIsImZpbGUiOiJzaWRlYmFyLnNjc3MiLCJzb3VyY2VzQ29udGVudCI6WyIuc2lkZWJhci1jb250YWluZXIge1xuICB3aWR0aDogMzhweDtcbiAgaGVpZ2h0OiAxMDB2aDtcbiAgcGFkZGluZzogMHB4IDE3cHg7XG4gIGJhY2tncm91bmQtY29sb3I6ICNGNkY2RjY7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGZsZXgtZGlyZWN0aW9uOiBjb2x1bW47XG4gIGp1c3RpZnktY29udGVudDogZmxleC1zdGFydDtcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xufVxuXG4udXNlci1ib3gge1xuICBib3JkZXItdG9wOiAxcHggc29saWQgI0UxRTFFMTtcbiAgcGFkZGluZy10b3A6IDE3cHg7XG4gIHdpZHRoOiAxMDAlO1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIGJvdHRvbTogMTdweDtcbiAgZGlzcGxheTogZmxleDtcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gIGJhY2tncm91bmQtY29sb3I6ICNGNkY2RjY7XG59XG5cbi5sb2dvLWltZyB7XG4gIHdpZHRoOiAzNnB4O1xuICBtYXJnaW4tdG9wOiAxN3B4O1xuICBtYXJnaW4tYm90dG9tOiA0MHB4O1xufVxuXG4ubmV3LW5vdGUsIC5zZWFyY2gsIC5ub3RlcywgLm5vdGVib29rcywgLnRhZ3Mge1xuICBtYXJnaW4tYm90dG9tOiAxM3B4O1xufVxuXG4ubmV3LW5vdGUsIC5zZWFyY2gsIC5ub3RlcywgLm5vdGVib29rcywgLnRhZ3MsIC51c2VyLXBpYyB7XG4gIHdpZHRoOiAzNnB4O1xuICBoZWlnaHQ6IDM2cHg7XG4gIGN1cnNvcjogcG9pbnRlcjtcbn1cblxuLm5ldy1ub3RlIHtcbiAgYmFja2dyb3VuZDogdXJsKCdodHRwczovL3Jlcy5jbG91ZGluYXJ5LmNvbS9tYWxpY2UvaW1hZ2UvdXBsb2FkL3YxNTAwNDEwMzM3L3BsdXNfbGppb3g0LnBuZycpIG5vLXJlcGVhdCBjZW50ZXIgY2VudGVyO1xufVxuXG4ubmV3LW5vdGU6aG92ZXIge1xuICBiYWNrZ3JvdW5kOiB1cmwoJ2h0dHBzOi8vcmVzLmNsb3VkaW5hcnkuY29tL21hbGljZS9pbWFnZS91cGxvYWQvdjE1MDA0MTAzMzcvcGx1cy1ob3Zlcl9kdGpldHEucG5nJykgbm8tcmVwZWF0IGNlbnRlciBjZW50ZXI7XG4gIGJhY2tncm91bmQtc2l6ZTogMzZweDtcbn1cblxuLnNlYXJjaCB7XG4gIGJhY2tncm91bmQ6IHVybCgnaHR0cHM6Ly9yZXMuY2xvdWRpbmFyeS5jb20vbWFsaWNlL2ltYWdlL3VwbG9hZC92MTUwMDQxMDMzOC9zZWFyY2hfenF4bmdjLnBuZycpIG5vLXJlcGVhdCBjZW50ZXIgY2VudGVyO1xufVxuXG4uc2VhcmNoOmhvdmVyIHtcbiAgYmFja2dyb3VuZDogdXJsKCdodHRwczovL3Jlcy5jbG91ZGluYXJ5LmNvbS9tYWxpY2UvaW1hZ2UvdXBsb2FkL3YxNTAwNDEwMzM4L3NlYXJjaC1ob3Zlcl9hNnpwdHgucG5nJykgbm8tcmVwZWF0IGNlbnRlciBjZW50ZXI7XG4gIGJhY2tncm91bmQtc2l6ZTogMzZweDtcbn1cblxuLm5vdGVzIHtcbiAgYmFja2dyb3VuZDogdXJsKCdodHRwczovL3Jlcy5jbG91ZGluYXJ5LmNvbS9tYWxpY2UvaW1hZ2UvdXBsb2FkL3YxNTAwNDEwMzM3L25vdGVfd3lodHN1LnBuZycpIG5vLXJlcGVhdCBjZW50ZXIgY2VudGVyO1xuICBtYXJnaW4tdG9wOiA5MHB4O1xufVxuXG4ubm90ZXM6aG92ZXIge1xuICBiYWNrZ3JvdW5kOiB1cmwoJ2h0dHBzOi8vcmVzLmNsb3VkaW5hcnkuY29tL21hbGljZS9pbWFnZS91cGxvYWQvdjE1MDA0MTAzMzcvbm90ZS1ob3Zlcl9oM296a2wucG5nJykgbm8tcmVwZWF0IGNlbnRlciBjZW50ZXI7XG4gIG1hcmdpbi10b3A6IDkwcHg7XG4gIGJhY2tncm91bmQtc2l6ZTogMzZweDtcbn1cblxuLm5vdGVib29rcyB7XG4gIGJhY2tncm91bmQ6IHVybCgnaHR0cHM6Ly9yZXMuY2xvdWRpbmFyeS5jb20vbWFsaWNlL2ltYWdlL3VwbG9hZC92MTUwMDQxMDMzNy9ub3RlYm9va19kcW8wOHIucG5nJykgbm8tcmVwZWF0IGNlbnRlciBjZW50ZXI7XG59XG5cbi5ub3RlYm9va3M6aG92ZXIge1xuICBiYWNrZ3JvdW5kOiB1cmwoJ2h0dHBzOi8vcmVzLmNsb3VkaW5hcnkuY29tL21hbGljZS9pbWFnZS91cGxvYWQvdjE1MDA0MTAzMzcvbm90ZWJvb2staG92ZXJfcTd0ZXFvLnBuZycpIG5vLXJlcGVhdCBjZW50ZXIgY2VudGVyO1xuICBiYWNrZ3JvdW5kLXNpemU6IDM2cHg7XG59XG5cbi50YWdzIHtcbiAgYmFja2dyb3VuZDogdXJsKCdodHRwczovL3Jlcy5jbG91ZGluYXJ5LmNvbS9tYWxpY2UvaW1hZ2UvdXBsb2FkL3YxNTAwNDEwMzM4L3RhZ19iaGViMmkucG5nJykgbm8tcmVwZWF0IGNlbnRlciBjZW50ZXI7XG59XG5cbi50YWdzOmhvdmVyIHtcbiAgYmFja2dyb3VuZDogdXJsKCdodHRwczovL3Jlcy5jbG91ZGluYXJ5LmNvbS9tYWxpY2UvaW1hZ2UvdXBsb2FkL3YxNTAwNDEwMzM4L3RhZy1ob3Zlcl9hZmNzcHAucG5nJykgbm8tcmVwZWF0IGNlbnRlciBjZW50ZXI7XG4gIGJhY2tncm91bmQtc2l6ZTogMzZweDtcbn1cbiJdfQ== */