.sidebar-container {
  width: 38px;
  height: 100vh;
  padding: 0px 17px;
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.user-pic {
  position: absolute;
  bottom: 17px;
}

.logo-img {
  width: 36px;
  margin-top: 17px;
  margin-bottom: 40px;
}

.new-note, .search, .notes, .notebooks, .tags {
  margin-bottom: 13px;
}

.new-note, .search, .notes, .notebooks, .tags, .user-pic {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.new-note {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410337/plus_ljiox4.png') no-repeat center center;
}

.new-note:hover {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410337/plus-hover_dtjetq.png') no-repeat center center;
  background-size: 36px;
}

.search {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410338/search_zqxngc.png') no-repeat center center;
}

.search:hover {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410338/search-hover_a6zptx.png') no-repeat center center;
  background-size: 36px;
}

.notes {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410337/note_wyhtsu.png') no-repeat center center;
  margin-top: 90px;
}

.notes:hover {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410337/note-hover_h3ozkl.png') no-repeat center center;
  margin-top: 90px;
  background-size: 36px;
}

.notebooks {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410337/notebook_dqo08r.png') no-repeat center center;
}

.notebooks:hover {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410337/notebook-hover_q7teqo.png') no-repeat center center;
  background-size: 36px;
}

.tags {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410338/tag_bheb2i.png') no-repeat center center;
}

.tags:hover {
  background: url('https://res.cloudinary.com/malice/image/upload/v1500410338/tag-hover_afcspp.png') no-repeat center center;
  background-size: 36px;
}
