.tagsPanel {
  position: absolute;
  left: -1000px;
  right: 0;
  width: 456px;
  height: 100%;
  background-color: white;
  -webkit-transition: left .3s ease-in-out;
  transition: left .3s ease-in-out;
  z-index: 3;
  padding-left: 73px;
  border-right: 2px solid #F1F1F1;
  overflow: auto;
}

.tagsPanel.open {
  left: 0;
}

.tags-header {
  font-size: 22px;
  letter-spacing: 1px;
  padding: 22px 26px 80px 26px;
  border-bottom: 1px solid #ECECEC;
  position: relative;
}

.add-tag-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  top: 21px;
  cursor: pointer;
}

.new-tag-container {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.tag-icon img {
  width: 40px;
  height: 36px;
  margin-top: 100px;
}

.new-tag-header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #878787;
  padding: 29px 10px 15px 10px;
  border-bottom: 1px solid #D9D9D9;
  letter-spacing: .5px;
}

.new-tag-input {
  font-size: 32px;
  font-family: 'Caecilia Light';
  margin-top: 60px;
  margin-bottom: 80px;
  text-align: center;
}

.new-tag-input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #C4C4C4;
}
.new-tag-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #C4C4C4;
   opacity:  1;
}
.new-tag-input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #C4C4C4;
   opacity:  1;
}
.new-tag-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #C4C4C4;
}
.new-tag-input::-ms-input-placeholder { /* Microsoft Edge */
   color: #C4C4C4;
}

.new-tag-create, .new-tag-cancel {
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
  width: 174px;
  padding: 8px 0;
}

.new-tag-cancel {
  background-color: #ECECEC;
  color: #606060;
  margin-right: 10px;
  border: 1px solid #D9D9D9;
}

.new-tag-cancel:hover {
  background-color: #D9D9D9;
}

.new-tag-create {
  background-color: #2DBE60;
  color: white;
  border: 1px solid #2DBE60;
}

.new-tag-create:hover {
  background-color: #28A956;
}

.new-tag-create:disabled {
  opacity: .5;
  cursor: default;
}

.tag-header {
  font-size: 21px;
  letter-spacing: 1px;
  margin: 27px 24px 60px 24px;
}

.tag-index-item-container {
  margin: 35px;
}

.tag-index-item {
  border-radius: 5px;
  border: 1px solid #D1D1D1;
  color: #4A4A4A;
  background-color: #F8F8F8;
  padding: 6px 15px;
  font-size: 13px;
  font-weight: bold;
  margin: 6px 0;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.tag-index-item:hover h3, .tag-index-item:hover h4 {
  color: white;
}

.tag-index-item:hover {
  cursor: pointer;
  background-color: #2DBE60;
  border: 1px solid #2DBE60;
}

.tag-index-item h4 {
  color: #2DBE60;
  margin-left: 13px;
}

.tag-item-and-delete {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.delete-tag {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin-left: 10px;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInRhZ3Muc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLG1CQUFtQjtFQUNuQixjQUFjO0VBQ2QsU0FBUztFQUNULGFBQWE7RUFDYixhQUFhO0VBQ2Isd0JBQXdCO0VBQ3hCLHlDQUFpQztFQUFqQyxpQ0FBaUM7RUFDakMsV0FBVztFQUNYLG1CQUFtQjtFQUNuQixnQ0FBZ0M7Q0FDakM7O0FBRUQ7RUFDRSxRQUFRO0NBQ1Q7O0FBRUQ7RUFDRSxnQkFBZ0I7RUFDaEIsb0JBQW9CO0VBQ3BCLGFBQWE7Q0FDZCIsImZpbGUiOiJ0YWdzLnNjc3MiLCJzb3VyY2VzQ29udGVudCI6WyIudGFnc1BhbmVsIHtcbiAgcG9zaXRpb246IGFic29sdXRlO1xuICBsZWZ0OiAtMTAwMHB4O1xuICByaWdodDogMDtcbiAgd2lkdGg6IDQ1NnB4O1xuICBoZWlnaHQ6IDEwMCU7XG4gIGJhY2tncm91bmQtY29sb3I6IHdoaXRlO1xuICB0cmFuc2l0aW9uOiBsZWZ0IC4zcyBlYXNlLWluLW91dDtcbiAgei1pbmRleDogMjtcbiAgcGFkZGluZy1sZWZ0OiA3M3B4O1xuICBib3JkZXItcmlnaHQ6IDJweCBzb2xpZCAjRjFGMUYxO1xufVxuXG4udGFnc1BhbmVsLm9wZW4ge1xuICBsZWZ0OiAwO1xufVxuXG4udGFncy1oZWFkZXIge1xuICBmb250LXNpemU6IDIycHg7XG4gIGxldHRlci1zcGFjaW5nOiAxcHg7XG4gIG1hcmdpbjogMjJweDtcbn1cbiJdfQ== */
