.user-dropdown {
  position: absolute;
  left: 62px;
  bottom: 0px;
  width: 352px;
  height: 220px;
  background-color: white;
  cursor: default;
  box-shadow: 0 0 7px 3px #ECECEC;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-dropdown img {
  width: 75px;
  height: auto;
  margin-top: 30px;
}

.user-email {
  font-weight: bold;
  letter-spacing: .5px;
  font-size: 14px;
  padding: 30px 70px;
  border-bottom: 1px solid #E1E1E1;
}

.user-logout {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 14px;
}

.user-logout:hover .user-email {
  border: none;
}

.user-logout:hover {
  background-color: #40bc6c;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.user-logout:hover .user-logout-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background: url('http://res.cloudinary.com/malice/image/upload/v1501241893/logout-white_r3nncp.png') no-repeat center center;
}

.user-logout-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background: url('https://res.cloudinary.com/malice/image/upload/v1501241893/logout-gray_g8gy8m.png') no-repeat center center;
}
