.user-dropdown {
  position: absolute;
  left: 62px;
  bottom: 0px;
  width: 352px;
  height: 340px;
  background-color: white;
  cursor: default;
  box-shadow: 0 0 7px 3px #ECECEC;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-dropdown img {
  width: 75px;
  height: auto;
}
