.user-dropdown {
  position: absolute;
  left: 62px;
  bottom: 0px;
  width: 352px;
  height: 220px;
  background-color: white;
  cursor: default;
  -webkit-box-shadow: 0 0 7px 3px #ECECEC;
          box-shadow: 0 0 7px 3px #ECECEC;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-dropdown img {
  width: 75px;
  height: auto;
  margin-top: 30px;
}

.user-email {
  font-weight: bold;
  letter-spacing: .5px;
  font-size: 14px;
  padding: 30px 70px;
  border-bottom: 1px solid #E1E1E1;
}

.user-logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: bold;
  font-size: 14px;
}

.user-logout:hover .user-email {
  border: none;
}

.user-logout:hover {
  background-color: #40bc6c;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.user-logout:hover .user-logout-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background: url('http://res.cloudinary.com/malice/image/upload/v1501241893/logout-white_r3nncp.png') no-repeat center center;
}

.user-logout-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background: url('https://res.cloudinary.com/malice/image/upload/v1501241893/logout-gray_g8gy8m.png') no-repeat center center;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInVzZXJzLnNjc3MiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQUE7RUFDRSxtQkFBbUI7RUFDbkIsV0FBVztFQUNYLFlBQVk7RUFDWixhQUFhO0VBQ2IsY0FBYztFQUNkLHdCQUF3QjtFQUN4QixnQkFBZ0I7RUFDaEIsd0NBQWdDO1VBQWhDLGdDQUFnQztFQUNoQyxtQkFBbUI7RUFDbkIscUJBQWM7RUFBZCxxQkFBYztFQUFkLGNBQWM7RUFDZCw2QkFBdUI7RUFBdkIsOEJBQXVCO01BQXZCLDJCQUF1QjtVQUF2Qix1QkFBdUI7RUFDdkIseUJBQXdCO01BQXhCLHNCQUF3QjtVQUF4Qix3QkFBd0I7RUFDeEIsMEJBQW9CO01BQXBCLHVCQUFvQjtVQUFwQixvQkFBb0I7Q0FDckI7O0FBRUQ7RUFDRSxZQUFZO0VBQ1osYUFBYTtFQUNiLGlCQUFpQjtDQUNsQjs7QUFFRDtFQUNFLGtCQUFrQjtFQUNsQixxQkFBcUI7RUFDckIsZ0JBQWdCO0VBQ2hCLG1CQUFtQjtFQUNuQixpQ0FBaUM7Q0FDbEM7O0FBRUQ7RUFDRSxxQkFBYztFQUFkLHFCQUFjO0VBQWQsY0FBYztFQUNkLHdCQUE0QjtNQUE1QixxQkFBNEI7VUFBNUIsNEJBQTRCO0VBQzVCLDBCQUFvQjtNQUFwQix1QkFBb0I7VUFBcEIsb0JBQW9CO0VBQ3BCLFlBQVk7RUFDWixhQUFhO0VBQ2IsbUJBQW1CO0VBQ25CLCtCQUF1QjtVQUF2Qix1QkFBdUI7RUFDdkIsa0JBQWtCO0VBQ2xCLGdCQUFnQjtDQUNqQjs7QUFFRDtFQUNFLGFBQWE7Q0FDZDs7QUFFRDtFQUNFLDBCQUEwQjtFQUMxQixhQUFhO0VBQ2IsbUJBQW1CO0VBQ25CLGdCQUFnQjtDQUNqQjs7QUFFRDtFQUNFLFlBQVk7RUFDWixhQUFhO0VBQ2Isa0JBQWtCO0VBQ2xCLDZIQUE2SDtDQUM5SDs7QUFFRDtFQUNFLFlBQVk7RUFDWixhQUFhO0VBQ2Isa0JBQWtCO0VBQ2xCLDZIQUE2SDtDQUM5SCIsImZpbGUiOiJ1c2Vycy5zY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLnVzZXItZHJvcGRvd24ge1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIGxlZnQ6IDYycHg7XG4gIGJvdHRvbTogMHB4O1xuICB3aWR0aDogMzUycHg7XG4gIGhlaWdodDogMjIwcHg7XG4gIGJhY2tncm91bmQtY29sb3I6IHdoaXRlO1xuICBjdXJzb3I6IGRlZmF1bHQ7XG4gIGJveC1zaGFkb3c6IDAgMCA3cHggM3B4ICNFQ0VDRUM7XG4gIGJvcmRlci1yYWRpdXM6IDVweDtcbiAgZGlzcGxheTogZmxleDtcbiAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcbiAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG59XG5cbi51c2VyLWRyb3Bkb3duIGltZyB7XG4gIHdpZHRoOiA3NXB4O1xuICBoZWlnaHQ6IGF1dG87XG4gIG1hcmdpbi10b3A6IDMwcHg7XG59XG5cbi51c2VyLWVtYWlsIHtcbiAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gIGxldHRlci1zcGFjaW5nOiAuNXB4O1xuICBmb250LXNpemU6IDE0cHg7XG4gIHBhZGRpbmc6IDMwcHggNzBweDtcbiAgYm9yZGVyLWJvdHRvbTogMXB4IHNvbGlkICNFMUUxRTE7XG59XG5cbi51c2VyLWxvZ291dCB7XG4gIGRpc3BsYXk6IGZsZXg7XG4gIGp1c3RpZnktY29udGVudDogZmxleC1zdGFydDtcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAgd2lkdGg6IDEwMCU7XG4gIGhlaWdodDogMTAwJTtcbiAgcGFkZGluZy1sZWZ0OiAyMHB4O1xuICBib3gtc2l6aW5nOiBib3JkZXItYm94O1xuICBmb250LXdlaWdodDogYm9sZDtcbiAgZm9udC1zaXplOiAxNHB4O1xufVxuXG4udXNlci1sb2dvdXQ6aG92ZXIgLnVzZXItZW1haWwge1xuICBib3JkZXI6IG5vbmU7XG59XG5cbi51c2VyLWxvZ291dDpob3ZlciB7XG4gIGJhY2tncm91bmQtY29sb3I6ICM0MGJjNmM7XG4gIGNvbG9yOiB3aGl0ZTtcbiAgYm9yZGVyLXJhZGl1czogM3B4O1xuICBjdXJzb3I6IHBvaW50ZXI7XG59XG5cbi51c2VyLWxvZ291dDpob3ZlciAudXNlci1sb2dvdXQtaWNvbiB7XG4gIHdpZHRoOiAxNnB4O1xuICBoZWlnaHQ6IDE2cHg7XG4gIG1hcmdpbi1yaWdodDogNXB4O1xuICBiYWNrZ3JvdW5kOiB1cmwoJ2h0dHA6Ly9yZXMuY2xvdWRpbmFyeS5jb20vbWFsaWNlL2ltYWdlL3VwbG9hZC92MTUwMTI0MTg5My9sb2dvdXQtd2hpdGVfcjNubmNwLnBuZycpIG5vLXJlcGVhdCBjZW50ZXIgY2VudGVyO1xufVxuXG4udXNlci1sb2dvdXQtaWNvbiB7XG4gIHdpZHRoOiAxNnB4O1xuICBoZWlnaHQ6IDE2cHg7XG4gIG1hcmdpbi1yaWdodDogNXB4O1xuICBiYWNrZ3JvdW5kOiB1cmwoJ2h0dHBzOi8vcmVzLmNsb3VkaW5hcnkuY29tL21hbGljZS9pbWFnZS91cGxvYWQvdjE1MDEyNDE4OTMvbG9nb3V0LWdyYXlfZzhneThtLnBuZycpIG5vLXJlcGVhdCBjZW50ZXIgY2VudGVyO1xufVxuIl19 */