// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#root {
  width: 100vw;
  height: 100vh;
}

.app-container {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Gotham';
  color: #747474;
  font-size: 12px;
  cursor: default;
  background-color: white;
}

a {
  color: #2DBE60;
  text-decoration: none;
  font-family: 'Gotham';
  font-weight: bold;
}

input:focus, button:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input, button {
  font-family: inherit;
}

strong {
  font-weight: bold;
}

i, em {
  font-style: italic;
}

u {
  text-decoration: underline;
}

s {
  text-decoration: line-through;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0YXRpY19wYWdlcy5zY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBOzs7OztFQUtFLGFBQVk7RUFDYixjQUFBO0NBQ0E7O0FBRUQ7RUFDRSxZQUFDO0VBQ0QsYUFBQztDQUNGOztBQUVEO0VBQ0Usc0JBQUM7RUFDRCxlQUFGO0VBQ0UsZ0JBQUM7RUFDRCxnQkFBQztFQUNELHdCQUFBO0NBQ0Q7O0FBRUQ7RUFDQSxlQUFBO0VBQ0Usc0JBQWdCO0VBQ2hCLHNCQUFDO0VBQ0Qsa0JBQUM7Q0FDRjs7QUFFRDtFQUNBLHlCQUFBO0VBQ0Usc0JBQUE7RUFDQSxpQkFBQTtFQUNBLGNBQUE7Q0FDRDs7QUFFRDtFQUNBLHFCQUFBO0NBQ0M7O0FBRUQ7RUFDQSxrQkFBQTtDQUNDOztBQUVEO0VBQ0EsbUJBQUE7Q0FDQzs7QUFFRDtFQUNBLDJCQUFBO0NBQ0M7O0FBRUQ7RUFDQSw4QkFBQTtDQUNDOztBQUVEO0VBQ0Usb0JBQW9CO0VBQ3RCLG1CQUFBO0NBQ0M7O0FBRUQ7RUFDRSxzQkFBc0I7RUFDdEIsbUJBQW1CO0NBQ3BCIiwiZmlsZSI6InN0YXRpY19wYWdlcy5zY3NzIiwic291cmNlc0NvbnRlbnQiOlsiLy8gUGxhY2UgYWxsIHRoZSBzdHlsZXMgcmVsYXRlZCB0byB0aGUgU3RhdGljUGFnZXMgY29udHJvbGxlciBoZXJlLlxuLy8gVGhleSB3aWxsIGF1dG9tYXRpY2FsbHkgYmUgaW5jbHVkZWQgaW4gYXBwbGljYXRpb24uY3NzLlxuLy8gWW91IGNhbiB1c2UgU2FzcyAoU0NTUykgaGVyZTogaHR0cDovL3Nhc3MtbGFuZy5jb20vXG5cbiNyb290IHtcbiAgd2lkdGg6IDEwMCU7XG59XG4iXX0= */