html, body, div, span, object,
h1, h2, h3, h4, h5, h6, p, a,
ul, li, form, label, figure,
img, section, nav, aside {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
}
